<template>
  <div>
    <h2 class="m-b _600">Альфа тестирование системы</h2>
    Стадия Альфа означает что пользуясь сервисом - вам не стоит надеяться на стабильность.
    При альфа версии ведется активная фаза разработки, и многое может быть измененно!<br><br>
    <h5> Почему при данной страдии проект не закрыт?</h5>
    В наших же интересах открыть доступ вам как можно раньше. Данный проект создан в первую очередь для пользователей, и любые недоработки должны быть исправленны в самые
    кротчайшые сроки. Так же мы активно открыты к любым пожеланиям пользователей, и все предложения могут сдвигать срок релиза.
    Вот список следующих стадий и планов: <br>
    <small><b>(в синих блоках будет добавление, в зеленных изменения, в красных удаление, в белых общая информация, а в оранжевых критические изменения)</b></small>
    <ul class="timeline" data-ui-class="timeline-center">
      <li class="tl-item">
        <div class="tl-wrap b-primary">
          <span class="tl-date text-muted">18.05.2017</span>
          <div class="tl-content box-color text-color w-xl w-auto-xs">
            <span class="arrow b-white left pull-top"></span>
            <div class="text-lt p-x m-b-sm">Альфа тестирование</div>
            <div class="p-a b-t b-light">Тестирование системы очень важно, потому что перед выходом в открытую бету на нужно быть уверенными что все части системы будут работать исправно, и не принесут неудобств при последующем использовании.</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap b-success">
          <span class="tl-date text-muted">23.05.2017</span>
          <div class="tl-content box-color text-color p-a-sm">
            <span class="arrow b-white left pull-top"></span>
            <div>Окончание альфа тестов</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap b-primary">
          <span class="tl-date text-muted">25.05.2017</span>
          <div class="tl-content box-color primary p-a-sm w-xl w-auto-xs">
            <span class="arrow b-primary left pull-top hidden-left"></span>
            <div class="text-lt p-x m-b-sm">Лимиты при продвижении</div>
            <!-- https://nightcatsama.github.io/vue-slider-component/example/ -->
            <div class="p-a b-t b-light">Если вы распределяете свои финансы внутри сервиса, тогда это изменения вам поможет. Вы сможете ограничить растраты на продвижение всего лишь выбрав какое количество вы хотели бы потратить на текущее продвижение.</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap b-primary">
          <span class="tl-date text-muted">27.05.2017</span>
          <div class="tl-content box-color green p-a-sm w-xl w-auto-xs">
            <span class="arrow b-success left pull-top hidden-left"></span>
            <div class="text-lt p-x m-b-sm">Страница настроек, и подключение социальных иконок в профиле</div>
            <div class="p-a b-t b-light">Появиться новая страница с настройками вашего аккаунта, где вы сможете настроить социальные иконки которые отображены на странице продвижения, а так же поменять биографию чтобы рассказать зрителям больше о себе тем самым повысить отзывчивость аудитории.</div>
          </div>
        </div>
      </li>
      <li class="tl-header"><div class="btn btn-sm white btn-rounded">после 30.05.2017</div></li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn"><span class="tl-date text-muted">...</span>
          <div class="tl-content box-color text-color p-a-sm"><span class="arrow b-white left pull-up hidden-left"></span> <span class="arrow b-white right pull-up visible-left"></span>
            <div class="text-lt">Страницы с самом разной и подбробной статистикой</div>
          </div>
        </div>
      </li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn"><span class="tl-date text-muted">...</span>
          <div class="tl-content box-color text-color p-a-sm"><span class="arrow b-white left pull-up hidden-left"></span> <span class="arrow b-white right pull-up visible-left"></span>
            <div class="text-lt">Мотивационные подписки</div>
          </div>
        </div>
      </li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn"><span class="tl-date text-muted">...</span>
          <div class="tl-content box-color text-color p-a-sm"><span class="arrow b-white left pull-up hidden-left"></span> <span class="arrow b-white right pull-up visible-left"></span>
            <div class="text-lt">Системы конкурсов, а так же список ближайщых конкурсов и таблица победителей в виде embed кода, для встраиванния в вашу программу для трансляций</div>
          </div>
        </div>
      </li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn"><span class="tl-date text-muted">...</span>
          <div class="tl-content box-color text-color p-a-sm"><span class="arrow b-white left pull-up hidden-left"></span> <span class="arrow b-white right pull-up visible-left"></span>
            <div class="text-lt">Резервирование хостинга у конкретного пользователя</div>
          </div>
        </div>
      </li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn"><span class="tl-date text-muted">...</span>
          <div class="tl-content box-color text-color p-a-sm"><span class="arrow b-white left pull-up hidden-left"></span> <span class="arrow b-white right pull-up visible-left"></span>
            <div class="text-lt">Партнерсво с самыми успешными пользователями нашего проекта, и закрытый доступ к premium платформе</div>
          </div>
        </div>
      </li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn"><span class="tl-date text-muted">...</span>
          <div class="tl-content box-color text-color p-a-sm"><span class="arrow b-white left pull-up hidden-left"></span> <span class="arrow b-white right pull-up visible-left"></span>
            <div class="text-lt">Система Layout-ов и оповещаний для трансляций</div>
          </div>
        </div>
      </li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn"><span class="tl-date text-muted">...</span>
          <div class="tl-content box-color text-color p-a-sm"><span class="arrow b-white left pull-up hidden-left"></span> <span class="arrow b-white right pull-up visible-left"></span>
            <div class="text-lt">Внутре-сервисная реклама, с возможностью дополнительного заработка.</div>
          </div>
        </div>
      </li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn"><span class="tl-date text-muted">...</span>
          <div class="tl-content box-color text-color p-a-sm"><span class="arrow b-white left pull-up hidden-left"></span> <span class="arrow b-white right pull-up visible-left"></span>
            <div class="text-lt">Портал для разработчиков (интеграция с проектом)</div>
          </div>
        </div>
      </li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn"><span class="tl-date text-muted">...</span>
          <div class="tl-content box-color text-color p-a-sm"><span class="arrow b-white left pull-up hidden-left"></span> <span class="arrow b-white right pull-up visible-left"></span>
            <div class="text-lt">и многое другое</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name:"AlphaVersion"
}
</script>
