<template>
  <div class="box">
    <div class="box-header light lt">
      <h3>{{ $t('Modals.Channels.Add.Title')}}</h3>
      <small>{{ $t('Modals.Channels.Add.SubTitle')}}</small>
    </div>
    <div class="box-body">
      <p>{{ $t('Modals.Channels.Add.Description')}}</p>
      <a v-for='(Account, key) in User.accounts' v-if='!Account.hidden' @click.prevent='Add(Account)' class="btn btn-icon btn-social dark btn-lg" :title="Account.name" :key='Account.id'>
        <img :src="Account.avatar" class='btn-icon btn-lg avatar circle'>
        <i v-if='Account.service === "twitch"' class="fa fa-twitch" style="background-color:#6441a5;" />
        <i v-if='Account.service === "mixer"' class='indigo-900' ><img style='width: 20px;height: 20px;' src="~assets/images/mixer.png"/></i></i>
      </a>
      <div v-if='UsersStreamAccounts <= 0' id="Block" class="alert bg-warning" style="border-radius: 0px;">
        <strong>Warning!</strong><br><br>
        You currentry have no Streaming Accounts linked to your profile.<br>
        To link a Streaming Account please go to <b><router-link :to="{ name: 'accounts'}" @click.native='$parent.hide("Channel.Add")'>Accounts Page</router-link></b>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn dark-white p-x-md" @click="$parent.hide('Channel.Add')">{{ $t('Modals.Cancel')}}</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import toastr from 'toastr'
import _ from 'underscore'

export default {
  computed: {
    Echo(){
      return this.$store.state.Echo
    },
    User(){
      return this.$store.state.User.info
    },
    Token(){
      return this.$store.state.User.token.access_token
    },
    UsersStreamAccounts(){
      return _.filter(this.User.accounts, function(account){ return !account.hidden });
    }
  },
  methods: {
    Test(){
      this.$store.dispatch('Modal/Display', {name: 'ChangeLog'})
    },
    Add(account){
      Vue.http.post(`channel/add/${account.id}`).then(({data}) => {
        this.$parent.hide('Channel.Add')
        this.$store.dispatch('User/AddChannel', data.message.channel);
        toastr.success(this.$i18n.t('Alerts.Success.Channel_Added'), this.$i18n.t('Alerts.Headers.Success.0'))
      }, ({data}) => {
        switch (data.message) {
          case "channel:exists":
          this.$parent.hide('Channel.Add');
          toastr.error(`The channel you are trying to add already exists in the system.`);
          break;
          case "token:invalid":
          this.$parent.hide('Channel.Add')
          toastr.error(`Your ${account.service} creditional has expired, please update them in accounts page.`, 'Upps!')
          break;
          case "service:unsupported":
          toastr.error(`The ${account.service} service in unsupported for now`, 'Upps!')
          break;
        }
      })
    }
  },
  mounted(){
    let i18n = this.$i18n
    if(this.Echo.ConnectedToPrivateChannel){
      let channel = this.Echo.userPrivateChannel
      channel.on('Channel.Added', (event) => {
        this.$parent.hide('Channel.Add')
        this.$store.dispatch('User/AddChannel', event.channel);
        toastr.success(i18n.t('Alerts.Success.Channel_Added'), i18n.t('Alerts.Headers.Success.0'))
      })
      channel.on('Channel.Exists', (event) => {
        this.$parent.hide('Channel.Add')
        toastr.error('Данный канал уже привязан!', 'Опаньки!')
      });
    }
  }
}
</script>
