<template>
  <div class="box">
    <div class="box-header light lt"><h3 class="modal-title">{{ $t('Modals.Channels.Found.Title')}}</h3></div>
    <div class="box-body">
      <p v-html="$t('Modals.Channels.Found.Description', {channel: data.channel.name})"></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn success p-x-md" @click="AddTwitch" data-dismiss="modal">{{ $t('Modals.Channels.Found.Add')}}</button>
      <button type="button" class="btn dark-white p-x-md" @click="GoToDashboard" data-dismiss="modal">{{ $t('Modals.Cancel')}}</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import toastr from 'toastr'

export default {
  props: ['data'],
  computed: {
    Echo(){
      return this.$store.state.Echo.service
    },
    User(){
      return this.$store.state.User.info
    },
    Token(){
      return this.$store.state.User.token
    }
  },
  methods: {
    AddTwitch(){
      Vue.http.get('channels/add/twitch').then(({data}) => {
        this.$parent.hide('Channel.Found')
        toastr.success(this.$i18n.t('Alerts.Success.Channel_Added'),  this.$i18n.t('Alerts.Headers.Success.1'))
        this.$store.dispatch('User/ChooseChannel', data.message.channel);
        this.$store.dispatch('User/AddChannel', data.message.channel);
        this.$router.push({ name: 'promotions'})
      });
    },
    GoToDashboard(){
      this.$parent.hide('Channel.Found')
      this.$router.push({name: 'promotions'})
    }
  }
}
</script>
