<template>
  <div class="box">
    <div class="box-header lt">
      <h3>What`s new?</h3>
      <small>{{ date }}</small>
    </div>
    <div class="box-tool">
      <ul class="nav">
        <li class="nav-item inline"><a class="nav-link" @click="$parent.hide('ChangeLog')"><i class="fa fa-fw fa-close"></i></a></li>
      </ul>
    </div>
    <div class="box-body dark mark mark theme-dark">
      <changelog></changelog>
    </div>
  </div>
</template>


<style>
.mark h1 {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.mark h1 {
  color: #43b581
}
.mark  h1:after {
  background-color: #43b581
}
.mark  h1:after {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 4px;
  opacity: .6
}

.mark .emoji {
  -o-object-fit: contain;
  object-fit: contain;
  width: 22px;
  height: 22px
}
.mark h1 {
  line-height: 20px;
  font-size: 16px
}
.mark h1,
.mark h2,
.mark strong {
  font-weight: 700
}
.mark em,
.mark i {
  font-style: italic
}
.mark p+p {
  margin-top: 10px
}
.mark ul {
  margin: 10px 0 20px -10px
}
.mark ul li {
  position: relative;
  list-style: none;
  margin-bottom: 20px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text
}
.mark ul li:last-child {
  margin-bottom: 0
}
.mark ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
  width: 6px;
  height: 6px;
  margin-top: -4px;
  margin-left: -3px;
  border-radius: 50%;
  opacity: .3
}
.mark img {
  width: 106%;
  margin-left: -16px;
}

.mark video {
  width: 106%;
  margin-left: -16px;
}

.mark a {
  color: #00b0f4;
  -webkit-transition: .05s;
  transition: .05s;
  text-decoration: none
}
.mark a:hover {
  text-decoration: underline
}
.close-3RZM3j,
.mark p,
.mark ul li {
  color: #b9bbbe
}
.mark ul li:before {
  background-color: #dcddde
}

.mark p:last-child > img {
  margin-bottom: -32px;
}
</style>


<script>
import Vue from 'vue'
var marked = require('marked');
import ChangeLog from 'components/data/changelog.md'

marked.setOptions({
  gfm: true,
  tables: true,
  breaks: false,
  pedantic: false,
  sanitize: false,
  smartLists: true,
  smartypants: false
});

export default {
  name: "ShowChangeLog",
  components: {
    changelog: ChangeLog
  },
  computed: {
    User(){
      return this.$store.state.User.info
    }
  },
  data() {
    return {
      date: '21, November 2017'
    }
  },
  mounted(){
    localStorage.setItem('READ_ABOUT_VERSION', this.$root.APP_VERSION)
    this.$root.$events.$emit('ChangeLog/Viewed')
  }
}
</script>
