<template>
  <div class="box">
    <div class="box-header light lt"><h3 class="modal-title" v-html="$t('Modals.View.NoMoneyLeft.Title')"></h3></div>
    <div class="box-body text-center p-lg"><p v-html="$t('Modals.View.NoMoneyLeft.Description')"></p></div>
    <div class="modal-footer">
      <button @click='LeaveThePage' class="btn success p-x-md" data-dismiss="modal">{{ $t('Modals.View.NoMoneyLeft.Submit')}}
      </button>
      <button type="button" class="btn dark-white p-x-md" @click="$parent.hide()">{{ $t('Modals.View.NoMoneyLeft.Cancel')}}</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
export default {
  methods: {
    LeaveThePage(){
      this.$router.push({name: "promotions"})
      this.$parent.hide()
    }
  }
}
</script>
