<template>
  <router-link :to="link" class="navbar-brand">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32">
      <circle cx="24" cy="24" r="24" style="fill: rgba(120,130,140,0.7);"></circle>
      <circle cx="24" cy="0" r="2" fill="#ffffff" class="brand-animate"></circle>
      <text id="chk" x=11 y=35>&#xF262</text>
      <glyph glyph-name="ion-arrow-graph-up-right" unicode="&#xf262;"
d="M288 320h160v-160l-61 61l-131 -141l-107 112l-149 -128l149 203l107 -107l94 98z" />
    </svg>
    <span class="hidden-folded inline">BoostMy
      <span class="label rounded label-md primary pos-rlt m-r-xs">
        <b class="arrow left b-primary pull-in"></b>stream
      </span>
    </span>
  </router-link>
</template>


<script>
export default {
  props: ['link']
}
</script>

<style>
svg text#chk {
  font-family: 'Ionicons';
  font-size: 25px;
  fill: #fff;
}
</style>
