<template>
  <div class="padding">
    <div class='row'>
      <div class="box-header">
        <h3>Your Social Accounts</h3>
        <small>Social Accounts access data</small>
        <div class="box-tool" style="margin-top: -0.5rem;">
          <ul class="nav" >
            <div>
              <li class="nav-item inline">
                <small>
                  <div class="box-color dark pos-rlt" style="margin-right: 5px;"><span
                    class="arrow right b-dark"></span>
                    <div class="box-body">Connect new or update service creditionals?</div>
                  </div>
                </small>
              </li>
              <li class="nav-item inline">
                <a @click.prevent='UpdateAccessToken("twitch")' href="#" class="nav-link">
                  <i class="fa fa-fw fa-lg fa-twitch twitch"></i>
                </a>
                <!-- <a @click.prevent='UpdateAccessToken("twitter")' href="#" class="nav-link">
                <i class="fa fa-fw fa-lg fa-twitter twitter"></i>
              </a> -->
              <!-- <a @click.prevent='UpdateAccessToken("vk")' href="#" class="nav-link">
                <i class="fa fa-fw fa-lg fa-vk vk"></i>
              </a> -->
              <a @click.prevent='UpdateAccessToken("mixer")' class="nav-link">
                <i class="fa fa-mixer pull-left"><img src="~assets/images/mixer.png" class='mixer'/></i>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="list" data-ui-list="b-r b-3x b-primary"  data-ui-list-target="#detail" data-ui-list-target-class="show">
      <div class="list-item" v-for='(Account, key) in User.accounts' v-if='!Account.hidden' :key='Account.id'>
        <div class="list-left">
          <span class="w-40 avatar circle">
            <i v-if='Account.service === "twitch"' class="fa fa-twitch twitch avatar-left"></i>
            <i v-if='Account.service === "twitter"' class="fa fa-twitter twitter avatar-left"></i>
            <i v-if='Account.service === "vk"' class="fa fa-vk vk avatar-left"></i>
            <i v-if='Account.service === "mixer"' class="fa fa-mixer avatar-left"><img src="~assets/images/mixer.png" class='mixer-sm'/></i>
            <img class='circle' :src='Account.avatar' />
          </span>
        </div>
        <div class="list-body">
          <div class="pull-right dropdown">
            <button v-if='Account.valid' disabled class="md-btn md-flat m-b-sm w-xs text-success validation">Valid</button>
            <button v-else disabled class="md-btn md-flat m-b-sm w-xs text-danger validation">Invalid</button>
          </div>
          <div class="item-title"><a href="#" class="_500" v-text='Account.name'></a></div>
          <small class="block text-muted text-ellipsis small blured"  v-text='Account.token'></small>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import swal from 'sweetalert'
import toastr from 'toastr'

export default {
  name: "Accounts",
  computed: mapState({
    User: state => state.User.info,
    Token: state => state.User.token.access_token,
    Echo: state => state.Echo.service
  }),
  methods: {
    UpdateAccessToken(service) {
      swal({
        title: "Warning!",
        text: "You shall be logged in the service with the user you wanned to update the creditionals",
        icon: "warning",
        buttons: {
          close: {
            text: "Close",
            value: false,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "Got it",
            value: true,
            closeModal: true
          }
        }
      })
      .then(accepted => {
        if(accepted)  window.open(process.env.API_V_URL + `/accounts/${service}?token=${this.Token.replace(/Bearer /g,'')}`, '_blank', 'width=600,height=400');
      });
    }
  },
  mounted(){
    this.$parent.head = '<span>Your Accounts Creditionals</span>'
    let Channel = this.Echo.private(`accounts-state.${this.User.id}`)
    Channel.on('Account.Added', (event) => {
      toastr.success("Account added successfully", "Oh, Yeeeaa")
      this.$store.dispatch('User/AddAccount', event.account);
    })
    Channel.on('Account.Updated', (event) => {
      toastr.success("Account creditionals were updated successfully", "Oh, Yeeeaa")
    })
    Channel.on('Error', (event) => {
      toastr.clear()
      switch(event.message){
        case"service:unsupported":
        toastr.error("This service is turned off, try another", "Oh, noo")
        break;
        case"account:in_use":
        toastr.error(`Account on ${this.LastService} is registered on another person`, "Oh, noo")
        brak;
        case"account:not_yours":
        toastr.error("This account aws used to login with another email, contact with us if you have recentry changed email on "+this.LastService, "Oh, noo")
        brak;
      }
    })
  },
  beforeRouteLeave(to, from, next){
    this.Echo.leave(`accounts-state.${this.User.id}`)
    next()
  }
}
</script>

<style scoped>
.avatar img {
  border-radius: 4px!important;
}
.avatar i {
  width: 20px;
  height: 20px;
  left: -8px!important;
  bottom: -8px!important;
  text-align: center;
  background-color: transparent;
  display: inline-block;
}

.twitch {
  color: #6441a4
}

.twitter {
  color: #039be5
}

.vk {
  color: #3f51b5
}

.mixer {
  width: 20px;
  height: 20px;
  margin-bottom:-4px
}

.mixer-sm {
  width: 14px;
  height: 14px;
}

button.validation {
  cursor: default;
}
small.blured {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
small.blured:hover {
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}

</style>
