<template>
  <div class="app-body-inner">
    <div class="row-col">
      <div class="col-xs-3 w-xl modal fade aside aside-lg" id="subnav">
        <div class="row-col black b-r bg">
          <div class="b-b">
            <div class="navbar no-radius">
              <ul class="nav navbar-nav">
                <li class="nav-item"><span class="navbar-item text-md">Задания</span></li>
              </ul>
            </div>
          </div>
          <div class="row-row">
            <div class="row-body scrollable hover">
              <div class="row-inner">
                <div class="list b-r b-2x b-theme">
                  <div class="list-item">
                    <div class="list-left"><span class="w-40 avatar circle lt"><span class="fa fa-eye text-md"></span></span></div>
                    <div class="list-body">
                      <div class="pull-right dropdown">
                        <i class="fa text-muted fa-fw fa-users"></i>
                      </div>
                      <div class="item-title"><a href="#" class="_500">Просмотры трансляции</a></div>
                      <small class="block text-ellipsis"><span class="text-xs">2</span> <span class="text-muted">выполненых,</span> <span class="text-xs">3</span> <span class="text-muted">не выполненых</span></small>
                      <div class="progress-xxs m-y-sm lter progress w-sm">
                        <div class="progress-bar success" data-toggle="tooltip" title="" style="width: 19%" data-original-title="Finished: 44%"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list">
                  <div class="list-item">
                    <div class="list-left"><span class="w-40 avatar circle lt bg-success"><span class="fa fa-check text-md"></span></span></div>
                    <div class="list-body">
                      <div class="pull-right dropdown">
                        <i class="fa text-muted fa-fw fa-user"></i>
                      </div>
                      <div class="item-title"><a href="#" class="_500">Добавить аккауты</a></div>
                      <small class="block text-ellipsis"><span class="text-xs">20</span> <span class="text-muted">выполненых</span></small>
                      <div class="progress-xxs m-y-sm lter progress w-sm">
                        <div class="progress-bar success" data-toggle="tooltip" title="" style="width: 100%" data-original-title="Finished: 44%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-a b-t clearfix">
            <span class="text-sm text-muted">Всего: <strong class="text-success">1</strong>/<strong class="text-info">2</strong></span>
          </div>
        </div>
      </div>
      <div class="col-xs-4 modal fade aside aside-sm" id="list">
        <div class="row-col b-r light lt">
          <div class="b-b">
            <div class="navbar no-radius">
              <ul class="nav navbar-nav">
                <a data-toggle="modal" data-target="#subnav" data-ui-modal="" class="navbar-item pull-left hidden-xl-up hidden-sm-down"><span class="btn btn-sm btn-icon blue"><i class="fa fa-th"></i></span></a>
                <li class="nav-item"><span class="navbar-item m-r-0 text-md">Цели</span></li>
                <li class="nav-item"><a class="nav-link"><span class="label rounded">5</span></a></li>
              </ul>
            </div>
          </div>
          <div class="row-row">
            <div class="row-body scrollable hover">
              <div class="row-inner">
                <div class="list" data-ui-list="b-r b-2x b-theme">
                  <div class="list-item row-col">
                    <div class="col-xs"><label class="md-check p-r-xs"><input disabled type="checkbox" class="has-value"> <i></i></label></div>
                    <div class="list-body col-xs">
                      <a href="#" class="item-title _500">Мастер просмотра</a>
                      <div class="text-muted text-xs">Посмотреть 60 минут трансляций (в сумме)</div>
                    </div>
                  </div>
                  <div class="list-item row-col">
                    <div class="col-xs"><label class="md-check p-r-xs"><input disabled type="checkbox" class="has-value" checked> <i></i></label></div>
                    <div class="list-body col-xs">
                      <a href="#" class="item-title _500">Первый бонус</a>
                      <div class="text-muted text-xs">После регистрации, слева в меню вы увидите счетчик, вы сможете забрать свой первый бонус через день после регистрации.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-a b-t clearfix">
            <span class="text-sm text-muted">Выполнено: <strong>1</strong>, В процессе: <strong>1</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: "Challenges",
  components: {},
  computed: {
    Challenges(){
      return vm.$store.User.info.challenges
    }
  },
  head: {
    title: {
      inner: 'Испытания'
    }
  },
  data(){
    return {

    }
  },
  methods: {

  },
  mounted(){
      this.$parent.head = '<span>Испытания <span class="label rounded label-md warning pos-rlt m-r-xs hidden-xs-down"><b class="arrow left b-warning pull-in"></b>в разработке</span></span>';
  }
}
</script>
