<template>
  <div class="app-body-inner">
    <div class="row-col">
      <div class="col-xs-3 w modal fade aside aside-md" id="subnav">
        <div class="row-col black bg">
          <div class="row-row">
            <div class="row-body scrollable hover">
              <div class="row-inner">
                <div class="navside m-x-xs m-t">
                  <nav class="nav-stacked nav-stacked-rounded nav-active-info">
                    <ul class="nav">
                      <li v-for='(theme, key) in Themes' :class='{active: choosenTheme == key}'>
                        <a @click='Choose(key)'>
                          <span class="nav-icon" v-html='theme.icon'></span>
                          <span class="nav-text">{{ theme.name }}</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 bg scrollable">
        <div class="row-col">
          <div class="row-row">
            <div class="row-body">
              <div class="row-inner">
                <div class="padding" id="scrollableBody" style="position:relative;height:100%;" >
                  <h2 class="m-b _600">
                    <a data-toggle="modal" style='line-height:0' data-target="#subnav" data-ui-modal="" class="navbar-item pull-left hidden-lg-up">
                      <span class="btn btn-sm btn-icon blue"><i class="fa fa-th"></i>
                      </span>
                    </a>
                  </h2>
                  <component :is='choosenTheme'></component>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
require('perfect-scrollbar/dist/css/perfect-scrollbar.css')
var Ps = require('perfect-scrollbar');

import AlphaVersion from './texts/Alpha.vue'

export default {
  name: "Help",
  components: {
    AlphaVersion,
  },
  data(){
    return {
      choosenTheme: "",
      ThemeTitle: "",
      ThemeBody: "",
      Themes: {
        //"AboutProject": require('./texts/about'),
        "AlphaVersion": {
          name: 'Альфа стадия',
          icon: '<i class="fa fa-legal"></i>'
        },
        //"FAQ": require('./texts/faq')
      }
    }
  },
  head: {
    title(){
      return {
        inner: this.Themes[this.choosenTheme != '' ? this.choosenTheme : 'AlphaVersion'].name
      }
    }
  },
  methods: {
    Choose(theme){
      this.choosenTheme = theme;
      this.ThemeTitle = this.Themes[theme].Title
      this.ThemeBody = this.Themes[theme].Body
    }
  },
  mounted(){
    this.Choose("AlphaVersion")
    var container = document.getElementById('scrollableBody');
    console.log(container)
    Ps.initialize(container);
    this.$parent.head = '<span>Помощь <span class="label rounded label-md warning pos-rlt m-r-xs hidden-xs-down"><b class="arrow left b-warning pull-in"></b>в разработке</span></span>'
  }

}
</script>
