<template>
  <div id='InfoPage' v-if='lang === "ru"' class="app-body-inner">
    <div class="row-col">
      <div class="row-row">
        <div class="row-body scrollable">
          <div class="row-inner" id='scrollableBody'>
            <div class="padding">
              <div class="row" >
                <h1 class="text-center" v-html='$t("Introduction.Header")'></h1>
                <div class="text-sm text-muted">
                  <div class="pull-left m-r">
                    <span class="text-md w-32 avatar rounded success">I</span>
                  </div>
                  <h4>{{ $t("Introduction.Blocks.I.Title") }}</h4>
                  <p class="p-y-1" style="margin-left:3rem;" v-html='$t("Introduction.Blocks.I.Body")'></p>
                </div>
                <div class="text-sm text-muted">
                  <div class="pull-left m-r">
                    <span class="text-md w-32 avatar rounded success">II</span>
                  </div>
                  <h4>{{ $t("Introduction.Blocks.II.Title") }}</h4>
                  <p class="p-y-1" style="margin-left:3rem;" v-html='$t("Introduction.Blocks.II.Body.part1")'></p>
                  <img :src="screen1"></img>
                  <p class="p-y-1" style="margin-left:3rem;" v-html='$t("Introduction.Blocks.II.Body.part2")'></p>
                  <img class='center' :src="screen2"></img>
                  <p class="p-y-1" style="margin-left:3rem;" v-html='$t("Introduction.Blocks.II.Body.part3")'></p>
                  <img class='center' :src="screen3"></img>
                  <p class="p-y-1" style="margin-left:3rem;" v-html='$t("Introduction.Blocks.II.Body.part4")'></p>
                </div>
                <button @click='Start' class="btn white btn-lg btn-block b-success text-success"><i class="fa fa-check pull-left"></i>{{ $t("Introduction.Accept") }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='InfoPage' v-else class="app-body-inner">
    <div class="row-col">
      <div class="row-row">
        <div class="row-body scrollable">
          <div class="row-inner" id='scrollableBody'>
            <div class="padding">
              <div class="row" >
                <h1 class="text-center"> Welcome to
                  <span class="text-md w-32 rounded success">
                    <b class="fa ion-arrow-graph-up-right" style="position: absolute;margin-left: -0.5em;margin-top: 0.3em;font-size: 19px;"></b>
                  </span>
                  <b class="text-success">BoostMy.Stream</b> project
                </h1>
                <div class="text-sm text-muted">
                  <div class="pull-left m-r">
                    <span class="text-md w-32 avatar rounded success">I</span>
                  </div>
                  <h4>What is this service?</h4>
                  <p class="p-y-1" style="margin-left:3rem;">
                    <b>BoostMy.Stream</b> - first service in the style of "community driven development". Created from the community for the community. The main goal is to make one huge portal for streamers with a lot of opportunities and unlimited resources.<br>
                    <b>What is "community driven development"?</b><br>
                    The community has the opportunity to actively contribute to the development of the project. After all, the voice of the community always has the most important weight. This is what allows the project to be No. 1 for the entire streamer community.<br>
                    The project includes such opportunities as: <i>promotion of broadcasts, collection of statistics for performance analysis and many other cool features</i>
                  </p>
                </div>
                <div class="text-sm text-muted">
                  <div class="pull-left m-r">
                    <span class="text-md w-32 avatar rounded success">II</span>
                  </div>
                  <h4>The "Broadcasts" panel</h4>
                  <p class="p-y-1" style="margin-left:3rem;">
                    This panel contains a list of broadcasts that are in promotion. Look at the screenshot:<br><br>
                  </p>
                  <img :src="screen1"></img>
                  <p class="p-y-1" style="margin-left:3rem;">
                    In order to start your promotion you need to add it to the list first.<br>
                    Each minute of promotion will cost you 150 energy (virtual currency) + bonuses for the first 3 places.<br>
                    Click on <b>"Add your broadcast?"</b> and you will see a modal window
                  </p>
                  <img class='center' :src="screen2"></img>
                  <p class="p-y-1" style="margin-left:3rem;">
                    To prevent people from muting your broadcast, select the first option (see item #1 in the screenshot).<br>
                    <b>ATTENTION!</b> This will cost you 150 more energy.<br>
                    Also you can set a limit, by default this is all your savings, but you have the right to change it.<br>
                    After you click <b>"Add"</b> your broadcast will appear in the list.
                  </p>
                  <img class='center' :src="screen3"></img>
                  <p class="p-y-1" style="margin-left:3rem;">
                    Item # 1 in the screen shot is your promotion block. Also you can see the item number 3 in this block, this is the bonus that you give for the first place in the list.<br>
                    <b>ATTENTION!</b> As you could already notice, you are the first in the list, which means that you moved the previous participant 1 position back. There can be only 8 items in the list. After the departure from the 8th position you completely take off from the list. Also, if you are at a position below the first you will have an additional button <b>"Raise your stream?"</b> with the help of which you can return to the first place. <br>
                    Also you can stop your progress at any time. (point number 2 in the screenshot)
                  </p>
                </div>
                <button @click='Start' class="btn white btn-lg btn-block b-success text-success"><i class="fa fa-check pull-left"></i> Accept and start with the service</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped >
h4 {
  padding-top:3px;
}
.text-sm > img {
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  max-width: 100%;
}
.center {
  position: relative;
}
</style>

<script>
import Vue from 'vue'
require('perfect-scrollbar/dist/css/perfect-scrollbar.css')
var Ps = require('perfect-scrollbar');
import toastr from 'toastr'

export default {
  name: "Introduction",
  beforeRouteLeave(to, from, next){
    if(!localStorage.getItem('intro')){
      toastr.warning('You should accept the into (page bottom) ', 'Oooops!')
      return false;
    }
    next()
  },
  beforeRouteEnter(to, from, next){
    next((vm) => {
      vm.lang = to.params.lang
    })
  },
  data(){
    return {
      lang: 'en-US',
      screen1: require('components/pages/data/screen1.png'),
      screen2: require('components/pages/data/screen2.png'),
      screen3: require('components/pages/data/screen3.png')
    }
  },
  methods: {
    Start() {
      localStorage.setItem('intro', true)
      this.$router.push({name: 'promotions'})
    }
  },
  mounted(){
    var container = document.getElementById('scrollableBody');
    Ps.initialize(container);
    this.$parent.head = 'Introduction'
    this.$root.$events.$on('Language/Changed', (code) => {
      this.lang = code;
    })
  }
}
</script>
