<template>
  <div class="box">
    <div class="box-header light lt"><h3 class="modal-title">{{ $t('Modals.View.Muted.Title')}}</h3></div>
    <div class="box-body text-center p-lg"><p>{{ $t('Modals.View.Muted.Description')}}</p></div>
    <div class="modal-footer">
      <button type="button" class="btn success p-x-md" @click="UnMute()" data-dismiss="modal">{{ $t('Modals.View.Muted.Submit')}}</button>
      <button type="button" class="btn dark-white p-x-md" @click="IgnoreMute()" data-dismiss="modal">{{ $t('Modals.View.Muted.Cancel')}}</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
export default {
  name: "Stream-Muted",
  methods:{
    UnMute(){
      this.$root.$events.$emit('Stream/UnMute')
      this.$parent.hide(this._self);
    },
    IgnoreMute() {
      this.$root.$events.$emit('Stream/IgnoreMute')
      this.$parent.hide(this._self);
    }
  }
}
</script>
