<template>
  <div class="box">
    <div class="box-header light lt"><h3 class="modal-title">{{ $t('Modals.View.Offline.Title')}}</h3></div>
    <div class="box-body text-center p-lg" v-html="$t('Modals.View.Offline.Description')">
    </div>
    <div class="modal-footer">
      <button @click='LeaveThePage' class="btn success p-x-md" data-dismiss="modal">{{ $t('Modals.View.Offline.Submit')}}
      </button>
      <button type="button" class="btn dark-white p-x-md" @click="$parent.hide(_self)">{{ $t('Modals.View.Offline.Cancel')}}
      </button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
export default {
  name: "Stream-Offline",
  methods: {
    LeaveThePage(){
      this.$router.push({name: "promotions"})
      this.$parent.hide(this._self)
    }
  }
}
</script>
