<template>
  <div class="box">
    <div class="box-header light lt"><h3 class="modal-title">{{ $t('Modals.View.Paused.Title')}}</h3></div>
    <div class="box-body text-center p-lg"><p>{{ $t('Modals.View.Paused.Description')}}</p></div>
    <div class="modal-footer">
      <button type="button" class="btn success p-x-md" @click="UnPause()" data-dismiss="modal">{{ $t('Modals.View.Paused.Submit')}}</button>
      <button type="button" class="btn dark-white p-x-md" @click="$parent.hide(_self)" data-dismiss="modal">{{ $t('Modals.View.Paused.Cancel')}}</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
export default {
  name: "Stream-Paused",
  methods:{
    UnPause(){
      this.$root.$events.$emit('Stream/UnPause')
      this.$parent.hide(this._self)
    }
  }
}
</script>
