<template>
  <div class="box">
    <div class="box-header light lt">
      <h3>{{ $t('Modals.Streams.Add.Title')}}</h3>
      <small>{{ $t('Modals.Streams.Add.SubTitle')}}</small>
    </div>
    <div class="box-body text-center dark">
      <p class="text-muted" v-html="$t('Modals.Streams.Add.Description')">
      </p>
      <form role="AddStreamForm" id='AddStreamForm'>
        <div class="checkbox">
          <label class="ui-check" v-html="$t('Modals.Streams.Add.Options.1.Title')"></label>
          <div @click='ToogleHelp("Mute")' style='cursor:pointer;position:relative;' class="fa fa-question-circle">
            <div v-if='Help == "Mute"' style='position:absolute;top:-10px;left:25px;width:250px;' class="small">
              <div class="box-color text-color pos-rlt">
                <span class="arrow left pull-top b-white"></span>
                <div style='padding:5px;' class="box-body">{{ $t('Modals.Streams.Add.Options.1.Description')}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="checkbox">
          <label class="ui-check" v-html="$t('Modals.Streams.Add.Options.2.Title')"></label>
          <div class="text-color">
            <vue-slider v-model="limit" :data="piecesOfMoney" :piecewise='true' :piecewiseStyle='VueSliderOptions.Style' :piecewiseActiveStyle='VueSliderOptions.Active' width="80%" style="margin-left:10%">
              <div class="diy-tooltip" slot="tooltip" slot-scope="tooltip">
                <span class="vue-slider-tooltip-top vue-slider-tooltip-wrap">
                  <span class="vue-slider-tooltip">
                    <i class="fa fa-bolt"></i> {{ tooltip.value }}
                  </span>
                </span>
              </div>
            </vue-slider>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button :disabled='loading' @click="StreamAdd()" class="btn success p-x-md" data-dismiss="modal">{{ $t('Modals.Streams.Add.Add')}}</button>
      <button type="button" class="btn dark-white p-x-md" @click="$parent.hide(_self)">{{ $t('Modals.Cancel')}}</button>
    </div>
  </div>
</template>

<script>
  import Vue from "vue";
  import toastr from "toastr";
  import vueSlider from "vue-slider-component";
  import {
    currency
  } from "src/helpers";
  
  export default {
    name: "Promotion-Add",
    components: {
      vueSlider
    },
    computed: {
      UsersBalance() {
        return parseInt(this.User.balance);
      },
      User() {
        return this.$store.state.User.info;
      },
      piecesOfMoney() {
        var number = this.User.balance;
        var n = 10;
        var values = [currency(number, "", "")];
        while (number > 0 && n > 0) {
          var a = Math.floor(number / n / 50) * 50;
          number -= a;
          n--;
          if (number !== 0) {
            values.push(currency(number, "", ""));
          }
        }
        return values;
      }
    },
    data() {
      return {
        Help: "",
        loading: false,
        limit: 0,
        VueSliderOptions: {
          Active: {
            backgroundColor: "#3498db"
          },
          Style: {
            backgroundColor: "#ccc",
            visibility: "visible",
            width: "12px",
            height: "12px"
          }
        }
      };
    },
    methods: {
      ToogleHelp(what) {
        if (this.Help == what) {
          Vue.set(this, "Help", "");
        } else {
          Vue.set(this, "Help", what);
        }
      },
      StreamAdd() {
        this.$parent.StartLoading();
        let form = new FormData(document.forms.AddStreamForm);
        form.append("limit", parseInt(this.limit));
        Vue.http.post("promotions/add", form).then(
          ({
            data
          }) => {
            toastr.success(
              this.$i18n.t("Alerts.Stream.Added"),
              this.$i18n.t("Alerts.Headers.Success.1")
            );
            this.$store.dispatch("User/UpdateBalance", data.message.user.balance);
            this.$parent.StopLoading();
            this.$parent.hide(this._self);
          },
          ({
            data
          }) => {
            switch (data.message) {
              case "channel:not_online":
                toastr.error(
                  this.$i18n.t("Alerts.Stream.NotOnline"),
                  this.$i18n.t("Alerts.Headers.Error.0")
                );
                break;
              case "user:low_balance":
                toastr.error(
                  this.$i18n.t("Alerts.User.LowBalance"),
                  this.$i18n.t("Alerts.Headers.Error.2")
                );
                break;
              case "stream:in_promoted_list":
                toastr.error(
                  this.$i18n.t("Alerts.Stream.InPromotedList"),
                  this.$i18n.t("Alerts.Headers.Error.0")
                );
                break;
              case "channel:does_not_exists":
                new Promise((resolve, reject) => {
                  toastr.error(
                    this.$i18n.t("Alerts.Channel.DoesNotExists"),
                    this.$i18n.t("Alerts.Headers.Error.3")
                  );
                  setTimeout(resolve, 2000);
                }).then(() => {
                  toastr.info(
                    this.$i18n.t("Alerts.Channel.ChoseeInfo"),
                    this.$i18n.t("Alerts.Headers.Info.0")
                  );
                });
                break;
            }
            this.$parent.StopLoading();
          }
        );
      }
    },
    created() {
      this.limit = this.UsersBalance;
    }
  };
</script>
