<template>
  <div class="app" v-if='User.exists'>
    <div id="aside" class="app-aside fade nav-dropdown">
      <div class="navside dk" data-layout="column">
        <div class="navbar no-radius">
          <logo :link="{name: 'promotions'}" />
        </div>
        <navigation />
    <!-- Every day bonus -->
        <!-- <a href="#" class="btn black" style="border:0px;border-radius:0px;">
          <span class="pull-left m-r-sm m-t-xs">
            <i class="fa fa-plus fa-lg"></i>
          </span>
          <span class="clear text-left l-h-1x" @click='TakeEveryDayBonus()'>
            <b class="block m-b-xs"></b>
            <span v-if='User.canTakeEveryDayBonus' class="block _500" style="width: 50%;float: left;">
              <span>{{ User.everyDayBonus }}
                <i class="fa fa-bolt"></i>
              </span>
            </span>
            <span v-else class="block _500" style="width: 55%;float: left;">
              <span>{{ User.everyDayBonus }}
                <i class="fa fa-bolt"></i>
              </span>
            </span>
            <span v-if='User.canTakeEveryDayBonus' class="block _500 text-success" style="width: 50%;float: left;">
              <span>{{ $t('Layouts.App.Menu.TakeBonus')}}</span>
            </span>
            <span v-else class="block _500 text-danger" style="width: 45%;float: left;">
              <span>{{ everyDayBonusTimeLeft }}</span>
            </span>
          </span>
        </a> -->
        <div data-flex-no-shrink>
          <div class="nav-fold b-b" style="background-color: #293342;">
            <div class="clear hidden-folded p-x">
              <div class="progress-xxs m-y-sm lt progress">
                <div class="progress-bar info"></div>
              </div>
              <span class="block _500 text-success" style="width: 50%;float: left;">
                <i class="fa fa-bolt"></i>
                <v-dometer :value="User.balance"></v-dometer>
              </span>
              <span class="block _500 text-info" style="width: 50%;float: left;">
                <i class="fa fa-superpowers"></i>
                <v-dometer :value="User.reputation"></v-dometer>
              </span>
            </div>
          </div>

          <div class="nav-fold dropup">
            <a data-toggle="dropdown">
              <div class="pull-left">
                <div class="inline">
                  <img v-if='User.avatar === null' :src="UserAvatar" class="w-40 img-circle">
                  <img v-else :src="User.avatar" class="w-40 img-circle">
                </div>
              </div>
              <div class="clear hidden-folded p-x">
                <span class="block _500 text-muted m-t-sm">{{ User.name }}</span>
              </div>
            </a>
            <div class="dropdown-menu w dropdown-menu-scale">
              <!-- <a class="dropdown-item" href="/profile"><span>Профиль</span></a> -->
              <router-link class="dropdown-item" :to="{name: 'settings'}">{{ $t('Layouts.App.Menu.Settings')}}</router-link>
              <router-link class="dropdown-item" :to="{name: 'accounts'}">Accounts</router-link>
              <div class="dropdown-divider"></div>
              <!-- <router-link class="dropdown-item":to="{name: 'help'}">{{ $t('Layouts.App.Menu.Help')}}</router-link> -->
              <a @click='Logout()' class="dropdown-item">{{ $t('Layouts.App.Menu.Logout')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
      <div class="app-header white bg b-b">
        <div class="navbar" data-pjax>
          <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
            <i class="ion-navicon"></i>
          </a>
          <div class="navbar-item pull-left h5" id="pageTitle" v-html="head"></div>
          <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown pos-stc-xs">
              <router-link :to="{ name: 'FAQ'}" class="nav-link"><i class="fa fa-question-circle"></i></router-link>
            </li>
            <li class="nav-item dropdown pos-stc-xs">
              <a class="nav-link clear" data-toggle="dropdown">
                <span class="avatar w-24">
                  <img :src='this.CurrentLang.icon' class="w-full rounded" height="24">
                </span>
              </a>
              <div class="dropdown-menu pull-right animated fadeIn no-bg no-border no-shadow">
                <div class="scrollable" style="max-height: 220px">
                  <ul class="list-group list-group-gap m-a-0">
                    <li v-for='lang in AvaiableLangs' v-bind:key="lang.code" style="cursor:pointer;" class="list-group-item dark-white box-shadow-z0 b" @click='$parent.ChangeLocale(lang.code)'>
                      <span class="pull-left m-r">
                        <img :src="lang.icon" width="25" height="25" class="img-circle">
                      </span>
                      <span class="clear block">{{ lang.name }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown pos-stc-xs">
              <a class="nav-link clear" data-toggle="dropdown">
                <span class="avatar w-32" v-if='User.channel !== null && User.channel !== undefined'>
                  <img v-tooltip.bottom="{ content: User.channel.display_name }" :src='User.channel.logo' class="w-full rounded" data-toggle="tooltip" data-placement="top" :title="User.channel.display_name">
                </span>
                <span v-else class="pull-left">
                  <div class="w-40 img-circle text-success grey" style="font-size:25px;">
                    <i style="font-size:25px;" class="ion-ios-plus-empty"></i>
                  </div>
                </span>
              </a>
              <div class="dropdown-menu pull-right w-xl animated fadeIn no-bg no-border no-shadow">
                <div class="scrollable" id='scrollable' style="position:relative;max-height:200px;">
                  <ul class="list-group list-group-gap m-a-0">
                    <li @click='AddNewChannel()' style='cursor:pointer;' class="list-group-item dark-white box-shadow-z0 b">
                      <span class="pull-left m-r">
                        <div class="w-40 img-circle text-success grey" style="font-size:25px;">
                          <i style="font-size:25px;" class="ion-ios-plus-empty"></i>
                        </div>
                      </span>
                      <span class="clear block">
                        <b>{{ $t('Layouts.App.Channels.AddChannel')}}</b><br>
                        <small class="text-muted">
                          <a>{{ $t('Layouts.App.Channels.Add')}}</a>
                        </small>
                      </span>
                    </li>
                    <li v-if='User.channels !== null' style='cursor:pointer;' v-for='channel in Channels' :key="channel.id" class="list-group-item dark-white box-shadow-z0 b">
                      <span class="pull-left m-r">
                        <img :src='channel.logo' :alt="channel.display_name" class="w-40 img-circle">
                      </span>
                      <span>
                        <b>{{ channel.display_name }}</b><br>
                        <small v-if='channel.service == "twitch"'>Twitch</small>
                        <small v-if='channel.service == "mixer"'>Mixer</small>
                      </span>
                      <span class="clear pull-right" style="margin-top:-17px;">
                        <button :title="$t('Layouts.App.Channels.Choose')" v-if='User.channel === null || User.channel.id != channel.id' @click='ChooseChannel(channel)' class="btn btn-sm btn-outline rounded b-success text-success">
                          <i class="fa fa-check"></i>
                        </button>
                        <button v-else @click='DiscardChannelChoose()' :title="$t('Layouts.App.Channels.RemoveChannel')" class="btn btn-outline btn-sm rounded b-danger text-danger">
                          <i class="fa fa-close"></i>
                        </button>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="app-footer white bg p-a b-t">
        <div class="pull-right text-sm text-muted" style="margin-right:20px;">{{ $t('Layouts.App.Footer.Version')}}
          <b @click='OpenChangleLog' style="cursor:pointer;" class="text-success">{{ this.$parent.APP_VERSION }}
          </b>
        </div>
        <span class="text-sm text-muted" v-html="$t('Layouts.App.Footer.MadeBy')"></span>
      </div>
      <div class="app-body">
        <div class="padding">
          <router-view></router-view>
        </div>
      </div>
    </div>
    <modals ref='modals' />
    <!-- <miner /> -->
    <div class="tutorial-indicators" v-if='LastSeenVersion !== $parent.APP_VERSION'>
      <div class="indicator" style="right: 5px; bottom: 25px;">
        <div class="animation-container highPriority">
          <div>
            <div class="top"></div>
            <div class="bottom"></div>
          </div>
          <div class="inner-circle highPriority"></div>
          <div class="outer-circle highPriority"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</template>

<script>
import Vue from 'vue'
import _ from 'underscore'
import VDometer from 'vue-odometer'
import { mapActions } from 'vuex'
import moment from 'moment'
import Modals from 'components/Modals.vue'
import Miner from 'components/Miner.vue'
require('perfect-scrollbar/dist/css/perfect-scrollbar.css')
var Ps = require('perfect-scrollbar')

import Navigation from 'components/Navigation'
import Logo from 'components/layout/part/Logo'

export default {
  name: 'AppLayout',
  components: { Modals, Navigation, Logo, VDometer, Miner },
  computed: {
    User() {
      return this.$store.state.User.info
    },
    UserAvatar() {
      return 'https://api.adorable.io/avatars/40/' + this.User.email + '.png'
    },
    Channels() {
      if (this.User.channel !== null) {
        let channels = _.reject(
          this.User.channels,
          channel => channel.id === this.User.channel.id
        )
        channels.unshift(this.User.channel)
        return channels
      }
      return this.User.channels
    },
    Langs() {
      return this.$parent.langs
    },
    CurrentLang() {
      return this.Langs[this.$parent.$i18n.locale]
    },
    AvaiableLangs() {
      return _.reject(this.Langs, lang => {
        return lang == this.CurrentLang
      })
    }
  },
  data() {
    return {
      everyDayBonusTimeLeft: '00:00:00',
      TimerStarted: false,
      head: '',
      LastSeenVersion: localStorage.getItem('READ_ABOUT_VERSION', null)
    }
  },
  methods: {
    ...mapActions({
      _Logout: 'User/LogOut'
    }),
    Logout() {
      this._Logout().then(
        result => {
          this.$router.push({ name: 'welcome' })
        },
        result => {
          console.log(result)
        }
      )
    },
    TakeEveryDayBonus() {
      if (this.User.canTakeEveryDayBonus) {
        Vue.http.get('bonuses/daily').then(({ data }) => {
          this.$store.dispatch('User/UpdateBalance', data.message.user.balance)
          this.User.canTakeEveryDayBonus = false
          this.User.everyDayBonusTime = data.message.user.everyDayBonusTime
          this.TimerStarted = false
          this.InitCountDown()
        })
      }
    },
    OpenChangleLog() {
      this.$store.dispatch('Modal/Display', { name: 'ChangeLog' })
    },
    AddNewChannel() {
      this.$store.dispatch('Modal/Display', { name: 'Channel/Add' })
    },
    ChooseChannel(channel) {
      Vue.http.post('channel/choose', { channel_id: channel.id }).then(
        ({ data }) => {
          this.$store.dispatch('User/ChooseChannel', channel)
        },
        ({ data }) => {}
      )
    },
    DiscardChannelChoose() {
      Vue.http.post('channel/drop').then(
        ({ data }) => {
          this.$store.dispatch('User/ForgetChannel', this.User.channel)
        },
        ({ data }) => {}
      )
    },
    InitCountDown() {
      let timer = setInterval(() => {
        var then = moment(
          this.User.everyDayBonusTime,
          'YYYY-MM-DD HH:mm:ss'
        ).add(1, 'day')
        var now = moment()
          .utc()
          .format('YYYY-MM-DD HH:mm:ss')
        then = then.format('YYYY-MM-DD HH:mm:ss')
        let time = moment
          .utc(
            moment(then, 'YYYY-MM-DD HH:mm:ss').diff(
              moment(now, 'YYYY-MM-DD HH:mm:ss')
            )
          )
          .format('HH:mm:ss')
        this.everyDayBonusTimeLeft = time
        if (time == '00:00:00' && this.TimerStarted) {
          clearInterval(timer)
          toastr.info(
            this.$i18n.t('Alerts.BonusSuccess'),
            this.$i18n.t('Alerts.Headers.Success.0')
          )
          Vue.set(this.User, 'canTakeEveryDayBonus', true)
        }
        this.TimerStarted = true
      }, 1000)
    }
  },
  mounted() {
    if (!this.User.canTakeEveryDayBonus && !this.TimerStarted) {
      this.InitCountDown()
    }
    var container = document.getElementById('scrollable')
    Ps.initialize(container)
    this.$root.$events.$on('ChangeLog/Viewed', () => {
      this.LastSeenVersion = this.$root.APP_VERSION
    })
    //
    // if(this.$route.name != 'intro' && !localStorage.getItem('intro')){
    //   this.$router.push({name: 'intro', params: {lang: localStorage.getItem('lang')}})
    // }
  }
}
</script>
