<template>
  <div class="app" id="app">
    <div class="padding">
      <div class="navbar">
        <div class="pull-center">
          <logo :link="{name: 'welcome'}" />
        </div>
      </div>
    </div>
    <div class="b-t">
      <router-view></router-view>
    </div>
    <modals id=""/>
  </div>
</template>



<script>
import Vue from 'vue'
import Logo from 'components/layout/part/Logo'
import Modals from 'components/Modals.vue'

export default {
  name: 'AuthLayout',
  components: {
    Logo,
    Modals
  }
}
</script>
