<template>
  <div>
    <div class="p-a black">
      <div class="navbar">
        <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-a-0 m-l"><i class="ion-android-menu"></i></a>
        <logo :link="{name: 'welcome'}" />
        <div class="collapse navbar-toggleable-sm pull-right pull-none-xs" id="navbar">
          <ul class="nav navbar-nav text-info-hover" data-ui-nav>
            <li class="nav-item dropdown pos-stc-xs">
              <a class="nav-link clear" data-toggle="dropdown" aria-expanded="true"><span class="nav-text text-info">{{ this.CurrentLang.name }}</span></a>
              <div class="dropdown-menu pull-right animated fadeIn no-bg no-border no-shadow">
                <div class="scrollable" style="max-height: 220px">
                  <ul class="list-group list-group-gap m-a-0">
                    <li v-for='lang in AvaiableLangs' style="cursor:pointer;" class="list-group-item dark-white box-shadow-z0 b" @click='$parent.ChangeLocale(lang.code)'>
                      <span class="pull-left m-r">
                        <img :src="lang.icon" width="25" height="25" class="img-circle">
                      </span>
                      <span class="clear block">{{ lang.name }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a href="#features" class="nav-link"><span class="nav-text">{{ $t('Layouts.Front.Header.Opportunities')}}</span></a>
            </li>
            <li class="nav-item">
              <a href="#demos" data-ui-scroll-to class="nav-link"><span class="nav-text">{{ $t('Layouts.Front.Header.Services')}}</span></a>
            </li>
            <li class="nav-item">
              <a href="#about" data-ui-scroll-to class="nav-link"><span class="nav-text">{{ $t('Layouts.Front.Header.About')}}</span></a>
            </li>
            <li class="nav-item" v-show='User.exists'>
              <a @click='Logout' class="nav-link"><span class="btn btn-md rounded danger">{{ $t('Layouts.Front.Header.Logout')}}</span></a>
            </li>
            <li class="nav-item" v-show='!User.exists'>
              <router-link :to="{name: 'login'}" class="nav-link"><span class="btn btn-md rounded success">{{ $t('Layouts.Front.Header.Login')}}</span></router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="content" class="app-content" role="main">
      <router-view></router-view>
    </div>
    <div class="footer black text-info-hover">
      <div class="container">
        <div class="p-y-lg b-b">
          <a href="#about" data-ui-scroll-to class="btn success rounded pull-right pull-none-xs">{{ $t('Layouts.Front.Start')}}</a>
          <div class="m-r">
            <div class="text-md p-y-sm">{{ $t('Layouts.Front.Outro')}}</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row p-y-lg">
          <div class="col-md-5">
            <h6 class="text-sm text-u-c m-b text-muted">{{ $t('Layouts.Front.Footer.title')}}</h6>
            <p>{{ $t('Layouts.Front.Footer.description')}}</p>
            <p class="m-t-md text-muted p-r-lg">
              <small class="text-muted">{{ $t('Layouts.Front.Footer.additional')}}</small>
            </p>
          </div>
        </div>
        <div class="p-y-lg">
          <div class="m-b-lg text-sm">
            <div class="text-muted pull-right pull-none-xs m-b">
              <span class="text-muted" v-html="$t('Layouts.Front.Footer.MadeBy')"></span>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Facebook">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-facebook indigo"></i>
              </a>
              <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Vk">
                <i class="fa fa-vk"></i>
                <i class="fa fa-vk cyan"></i>
              </a>
              <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Twitter">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-twitter light-blue"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Logo from 'components/layout/part/Logo'

export default {
  name: 'FrontLayout',
  components: { Logo },
  computed: {
    User() {
      return this.$store.state.User.info
    },
    Langs() {
      return this.$parent.langs
    },
    CurrentLang() {
      return this.Langs[this.$parent.$i18n.locale]
    },
    AvaiableLangs() {
      return _.reject(this.Langs, lang => {
        return lang == this.CurrentLang
      })
    }
  },
  methods: {
    ...mapActions({
      _Logout: 'User/LogOut'
    }),
    Logout() {
      this._Logout().then(
        result => {
          this.$router.push({ name: 'welcome' })
        },
        result => {
          console.log(result)
        }
      )
    },
    OpenLogin() {
      this.$parent.$refs.modal.show('Login', 'modal', this.$parent.StateCode)
    }
  }
}
</script>
