<template>
  <div class="box">
    <div class="box-header light lt">
      <h3>{{ $t('Modals.Hosting.AddToList.Title')}}</h3>
      <small>{{ $t('Modals.Hosting.AddToList.SubTitle')}}</small>
    </div>
    <div class="box-body text-center dark">
      <p class="text-muted" v-html="$t('Modals.Hosting.AddToList.Description', {earn: Channel.canEarnInMinute, lost: Channel.hostCost})">
      </p>
      <div v-if='loading'>
        <div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: absolute;"></div>
        <div class="blockUI blockMsg blockElement" style="z-index: 1011; position: absolute; padding: 30px; margin: 0px; width: 100%; top: 60px; left: 0px; text-align: center; color: rgb(255, 255, 255); border: none; background-color: transparent; cursor: default; opacity: 0.616723;"><i class="fa fa-lg fa-refresh fa-spin"></i></div>
      </div>
    </div>
    <div class="modal-footer">
      <button :disabled='loading'  @click="StreamAdd()" class="btn success p-x-md" data-dismiss="modal">{{ $t('Modals.Hosting.AddToList.Add')}}
      </button>
      <button type="button" class="btn dark-white p-x-md" @click="$parent.hide('Hosting.AddToList')">{{ $t('Modals.Cancel')}}
      </button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import toastr from 'toastr'
require('assets/styles/toastr.css')

toastr.options = {
  positionClass: 'toast-top-center',
  closeButton: true,
  progressBar: true,
  newestOnTop: true
}

export default {
  name: "HostingAddToList",
  data() {
    return {
      loading: false
    }
  },
  computed: {
    Channel (){
      return this.$parent.data.channel
    }
  },
  methods: {
    StreamAdd(){
      this.loading = true
      Vue.http.post('hosting/register').then(({data}) => {
        toastr.success(this.$i18n.t('Alerts.Success.Hosting_AddedToList'),  this.$i18n.t('Alerts.Headers.Success.0'))
        this.$store.dispatch("User/UpdateBalance", data.message.user.balance)
        this.$parent.hide('AddChannelToList')
      }, ({data}) => {
        switch (data.message) {
          case "stream:online":
          toastr.error(this.$i18n.t('Alerts.Stream.Online'), this.$i18n.t('Alerts.Headers.Error.2'))
          break;
          case "user:low_balance":
          toastr.error(this.$i18n.t('Alerts.User.LowBalance'),  this.$i18n.t('Alerts.Headers.Error.0'))
          break;
          case "user:no_channel":
          toastr.error(this.$i18n.t('Alerts.User.NoChannel'),  this.$i18n.t('Alerts.Headers.Error.1'))
          break;
        }
        this.loading = false
      })
    }
  }
}
</script>
