<template>
  <div class="box">
    <div class="box-header light lt">
      <h3>{{ $t('Modals.Hosting.GetPrize.Title')}}</h3>
      <small v-html="$t('Modals.Hosting.GetPrize.Description', {channel: channel.display_name })"></small>
    </div>
    <div class="box-body text-center dark">
      <p class="text-muted" v-html="$t('Modals.Hosting.GetPrize.Body', {cost: channel.willTakeInMinute })">
      </p>
      <div v-if='loading'>
        <div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: absolute;"></div>
        <div class="blockUI blockMsg blockElement" style="z-index: 1011; position: absolute; padding: 30px; margin: 0px; width: 100%; top: 60px; left: 0px; text-align: center; color: rgb(255, 255, 255); border: none; background-color: transparent; cursor: default; opacity: 0.616723;"><i class="fa fa-lg fa-refresh fa-spin"></i></div>
      </div>
    </div>
    <div class="modal-footer">
      <button :disabled='loading'  @click="StartHost()" class="btn success p-x-md" data-dismiss="modal">{{ $t('Modals.Hosting.GetPrize.Submit')}}
      </button>
      <button type="button" class="btn dark-white p-x-md" @click="$parent.hide('Hosting.GetPrize')">{{ $t('Modals.Cancel')}}
      </button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import toastr from 'toastr'
require('assets/styles/toastr.css')

toastr.options = {
  positionClass: 'toast-top-center',
  closeButton: true,
  progressBar: true,
  newestOnTop: true
}

export default {
  data() {
    return {
      loading: false
    }
  },
  computed: {
    channel (){
      return this.$parent.data.channel
    }
  },
  methods: {
    StartHost(channel){
      this.$parent.StartLoading()
      Vue.http.put('hosting/start', {hoster: this.channel.username}).then(({data}) => {
        toastr.success(this.$i18n.t('Alerts.Success.Hosting_StartedHosting', {channel: this.channel.display_name}),  this.$i18n.t('Alerts.Headers.Success.1'))
        this.$parent.hide('AddChannelToList')
        this.$parent.StopLoading()
      }, ({data}) => {
        switch (data.message) {
          case"service:error":
          toastr.error(this.$i18n.t('Alerts.Hoster.IsHosting'),  this.$i18n.t('Alerts.Headers.Error.4'))
          break;
          case "hoster:not_found":
          toastr.error(this.$i18n.t('Alerts.Hoster.NotFound'),  this.$i18n.t('Alerts.Headers.Error.2'))
          break;
          case"hoster:is_hosting":
          toastr.error(this.$i18n.t('Alerts.Hoster.IsHosting'),  this.$i18n.t('Alerts.Headers.Error.2'))
          break;
          case "user:no_channel":
          toastr.error(this.$i18n.t('Alerts.User.NoChannel'),  this.$i18n.t('Alerts.Headers.Error.1'))
          break;
          case "user:low_balance":
          toastr.error(this.$i18n.t('Alerts.User.LowBalance'),  this.$i18n.t('Alerts.Headers.Error.0'))
          break;
          case"hoster:not_in_list":
          toastr.error(this.$i18n.t('Alerts.Hoster.NotInList'),  this.$i18n.t('Alerts.Headers.Error.2'))
          break;
          case"hoster:online":
          toastr.error(this.$i18n.t('Alerts.Hoster.Online'),  this.$i18n.t('Alerts.Headers.Error.3'))
          break;
          case"user:offline":
          toastr.error(this.$i18n.t('Alerts.User.Offline'),  this.$i18n.t('Alerts.Headers.Error.0'))
          break;
        }
        this.$parent.StopLoading()
      })

    }
  }
}
</script>
