<template>
  <div class="app-body">
    <div class="col-md-12">
      <div class="center-block w-auto-xs p-y-md text-center">
        <h2 class="m-b _600" v-t="'FAQ.Title'" />
        <div class="row">
          <div class="col-sm-12 m-b">
            <input type="text" class="form-control" v-model="search" :placeholder="$t('FAQ.search')">
          </div>
        </div>
      </div>
        <div class="m-b" v-for="(questions, category) in FoundFAQ">
          <h4 class="m-b-sm text-md" v-text="category" />
            <div class="panel box no-border m-b-xs" v-for="(question, index) in questions">
                <div class="box-header p-y-sm">
                  <a data-toggle="collapse" data-parent="#accordion" :data-target="'#c_' + category + index" aria-expanded="false" class="collapsed">
                  <div class="pull-left m-r"><span class="text-md w-24 avatar rounded warning" v-t="'FAQ.shorts.q'" /></div>
                  {{ question.q }}
                 </a>
               </div>
                <div :id="'c_' + category + index" class="collapse"
                    aria-expanded="false">
                    <div class="box-body">
                        <div class="text-sm">
                            <div class="pull-left m-r"><span class="text-md w-24 avatar rounded success" v-t="'FAQ.shorts.a'" /></div>
                            <p v-html="question.a" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="panel box no-border m-b-xs">
        <div class="box-header p-y-sm">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#c_2" aria-expanded="true" class="collapsed">
          <div class="pull-left m-r"><span class="text-md w-24 avatar rounded warning">Q</span></div>
          Как зарегистрироватся в системе?
         </a>
       </div>
        <div id="c_2" class="collapse"
            aria-expanded="false">
            <div class="box-body">
                <div class="text-sm">
                    <div class="pull-left m-r"><span class="text-md w-24 avatar rounded success">A</span></div>
                    <p>
                      Мы долго думали как же сделать авторизацию и регистрацию в системе самой комфортной, и поняли
                      что у всех давным давно уже есть аккаунт в социальной сети. Мы упростили систему регистрации и
                      авторизации к одному лишь пункту - Войди и если тебя еще не было в системе мы сами создадим тебе
                      учетную запись, а данные для нее возмем из публично доступных.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel box no-border m-b-xs">
        <div class="box-header p-y-sm">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#c_3" aria-expanded="true" class="collapsed">
          <div class="pull-left m-r"><span class="text-md w-24 avatar rounded warning">Q</span></div>
          Как происходит продвижение?
         </a>
       </div>
        <div id="c_3" class="collapse"
            aria-expanded="false">
            <div class="box-body">
                <div class="text-sm">
                    <div class="pull-left m-r"><span class="text-md w-24 avatar rounded success">A</span></div>
                    <p>
                      Все довольно просто, после того как вошли в систему через одну из учетных записей, вам нужно
                      будет добавить канал трансляции с которого вы хотите продвигать <small>(как это сделать есть ответ ниже)</small>
                      После этого вам нужно будет выбрать канал, и запустить вашу трансляцию <small>(погодите минуты 2, не все сервисы сразу дают информацию о том что вы запустили трансляцию)</small>
                      На странице продвижения трансяций вы увидите, как показано на снимке ниже, значек +. Нажмите на него чтобы добавить вашу трансляцию в список продвижения.
                      В окне которое появится вы сможете выбрать
                    </p>
                </div>
            </div>
        </div>
    </div> -->
</div>
</template>
<script>
import _ from 'underscore'
export default {
  data() {
    return {
      FAQ: this.$t('FAQ.Questions'),
      search: ''
    }
  },
  computed: {
    FoundFAQ() {
      let filtered = this.FAQ.filter(question => {
        return question.q.toLowerCase().includes(this.search.toLowerCase())
      })
      return _.groupBy(filtered, 'category')
    }
  }
}
</script>
