<template>
  <div class="padding">
    <div class="box-header">
      <h2>{{ $t('Events.Title') }}</h2>
      <small>{{ $t('Events.Description') }}</small>
    </div>
    <full-calendar ref="calendar" class='fullcallendar' @event-selected="EventSelected" :event-sources="eventSources" :events='events' :config='config'></full-calendar>
  </div>
</template>

<script>
import Vue from 'vue'
Vue.use(require('vue-full-calendar'))
window.jQuery = window.$ = require('jquery')
import _ from 'underscore'
import toastr from 'toastr'
import moment from 'moment'
require('assets/styles/toastr.css')
require('assets/styles/fullcalendar.theme.css')

const timezoneOffset = require("timezone-offset")

export default {
  name: "Events",
  data() {
    return {
      events: [],
      games: require('components/data/games.json'),
      config:{
        locale: this.$root.$i18n.locale,
        header: {
          left: '',
          center: 'title',
          right: ''
        },
        defaultView: 'agendaWeek',
        firstDay: this.FirstDayFn(),
        editable: false,
        eventLimit: false,
        columnFormat: 'ddd D/M',
        slotLabelFormat : 'HH:mm',
        displayEventEnd: false,
        allDaySlot: false,
        timeZone: 'UTC',
        slotDuration: '01:00:00',
        slotMinutes: 30,
        eventLimit: false,
        eventRender: this.RenderEvents,
        events: []
      }
    }
  },
  beforeRouteEnter(to, from, next){
    Pace.restart()
    Vue.http.get('events?tz='+encodeURIComponent(timezoneOffset())).then(({data}) => {
      Pace.stop()
      next(vm => {
        vm.events = data.message.events
      })
    })
  },
  head: {
    title() {
      return {
        inner: this.$i18n.t('Events.Title')
      }
    }
  },
  computed: {
    eventSources() {
      const self = this;
      return [
        {
          events(start, end, timezone, callback) {
            self.$http.get('events?tz='+encodeURIComponent(timezoneOffset())).then(({data}) => {
              callback(data.message.events)
            })
          }
        },
      ];
    },
    User(){
      return this.$store.state.User.info
    }
  },
  watch: {
    'User.channel': function(newChannel, old) {
      this.$refs.calendar.$emit('reload-events')
    }
  },
  methods: {
    EventSelected(event){
      if(event.type == 'empty'){
        this.$store.dispatch('Modal/Display', {name: 'Events/Add', data: {games: this.games, event}})
        return false
      }
      if(event.owner.id == this.User.id){
        //User wants to delete reservation
        this.$store.dispatch('Modal/Display', {name: 'Events/Remove', data:{event}})
        return false
      }
      //Show bet modal
      console.log(event)
    },
    FirstDayFn() {
      return moment().weekday();
    },
    RenderEvents(event, element) {
      element.find(".fc-content").remove();
      element.find(".fc-bg").remove();
      if (event.type == 'empty' && this.User.channel !== null) {
        var start = moment(event.start).format("YYYY-MM-DD HH:mm")
        return element.append('<button id="AddEvent" type="button" class="btn btn-outline b-primary text-primary pull-center btn-responsive" style="display: inline-block;margin: 0px;">' + this.$i18n.t('Events.Reserve') + '</button>');
      }
      if(event.type == 'reservation'){
        console.log(event)
        var games = [];
        var html =
        '<li class="list-item text-left" style="padding: 0px;">' +
        '<a href="#" class="list-left">' +
        '<span class="w-40 avatar">' +
        '<img src="' + event.owner.avatar + '" alt="..."> ';
        if (event.owner.stream && event.owner.stream.online) {
          html += '<i class="on b-white bottom"></i>';
        } else {
          html += '<i class="busy b-white bottom"></i>';
        }
        html += '</span>' +
        '</a>' +
        '<div class="list-body pull-left" style="width: 50%;margin-left: 5px;">' +
        '<div>' +
        '<a href="#">' + event.owner.name + '</a>' +
        '</div>' +
        '<small class="text-muted text-ellipsis">' + moment(event.start).format("HH:mm") + '-' + moment(event.end).format("HH:mm") + '</small>';

        if (event.game != undefined) {
          html += '<small><i class="fa fa-gamepad"></i> ' + this.games[event.game].short + '</small>';
        }
        html += '</i></div>'
        if(event.owner.id == this.User.id && event.canCancelReservation){
          html += '<div class="list-body pull-right p-a-sm btn btn-xs rounded btn-outline-danger" style="margin-top: 2px;"><i class="fa fa-close"></div>'
        }else{
          //html += '<div class="list-body pull-right p-a-sm btn btn-xs rounded btn-outline-success" style="margin-top: 2px;"><i class="fa fa-gavel"></div>'
        }
        html += '</li>';
        return element.append(html);
      }
    }
  },
  mounted(){
   this.$root.$events.$on('Events/Updated', () => {
      this.$refs.calendar.$emit('refetch-events')
    })
    this.$root.$events.$on('Language/Changed', () => {
      this.$refs.calendar.$emit('rerender-events')
      this.$emit('updateHead')
    })
  }
}
</script>

<style>

body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

</style>
