<template>
  <div class="padding">
    <div class="row">
      <div class="box-header">
        <h3>{{ $t('Hosts.Title') }}</h3>
        <small>{{ $t('Hosts.Description') }}</small>
        <div class="box-tool" style="margin-top: -0.5rem;">
          <ul class="nav" >
            <div v-if='!UsersChannelIsInList && User.channel != null'>
              <li class="nav-item inline">
                <small>
                  <div class="box-color dark pos-rlt" style="margin-right: 5px;"><span
                    class="arrow right b-dark"></span>
                    <div class="box-body">{{ $t('Hosts.AddButton') }}</div>
                  </div>
                </small>
              </li>
              <li class="nav-item inline">
                <a @click.prevent='AddChannelToList()' href="#" class="nav-link">
                  <i class="fa fa-fw fa-plus"></i>
                </a>
              </li>
            </div>
            <div v-else>
              <li class="nav-item inline">
                <small>
                  <div class="box-color info pos-rlt" style="margin-right: 5px;"><span
                    class="arrow right b-info"></span>
                    <div class="box-body">{{ $t('Hosts.RemoveButton') }}</div>
                  </div>
                </small>
              </li>

              <li class="nav-item inline">
                <a @click.prevent='RemoveChannelFromList(UsersChannelInList)' href="#" class="nav-link">
                  <i class="fa fa-fw fa-close text-danger"></i>
                </a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div  v-for='channel in channels' class="col-xs-6 col-sm-12 col-md-6 col-xl-3">
        <div class="box text-center">
          <div class="p-a-md" :style="GetBlockStyles(channel)">
            <p>
              <img :src="channel.logo" alt="." class="img-circle w-56">
              <i class="on b-white left" style="position:relative"></i>
            </p>
            <a href="#" class="text-md block">{{ channel.display_name }}</a>
            <p style="min-height: 3em;max-height: 3em;padding-bottom:50px;"><small style='word-wrap: break-word;' class="text-white">{{ channel.bio | truncate(150) }}</small></p>
            <a v-if='channel.owner.id != User.id' @click.prevent='GetPrize(channel)' class="btn btn-sm btn-outline rounded b-success">{{ $t('Hosts.GetPrize') }}</a>
            <a style='pointer-events: none;cursor: default;' v-else href="#" class="btn btn-sm btn-outline rounded b-danger">{{ $t('Hosts.YourChannel') }}</a>
          </div>
          <div class="row row-col no-gutter b-t info">
            <div class="col-xs-6 b-r"><a class="p-y block text-center" data-ui-toggle-class=""><strong class="block">{{ channel.views | currency('', 0) }}</strong> <span class="block">{{ $t('Hosts.Views') }}</span></a></div>
            <div class="col-xs-6"><a class="p-y block text-center" data-ui-toggle-class=""><strong class="block">{{ channel.followers | currency('', 0) }}</strong> <span class="block">{{ $t('Hosts.Followers') }}</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import _ from 'underscore'
import toastr from 'toastr'
require('assets/styles/toastr.css')

export default {
  name: "Hosting",
  components: {},
  data() {
    return {
      channels: []
    }
  },
  head: {
    title() {
      return {
        inner: this.$i18n.t('Hosts.PageTitle')
      }
    }
  },
  computed: {
    User(){
      return this.$store.state.User.info
    },
    Echo(){
      return this.$store.state.Echo.service
    },
    UsersChannelIsInList(){
      if(this.channels.length > 0){
        return _.filter(this.channels, (channel) => {
          return channel.owner.id === this.User.id
        }).length > 0
      }
      return false
    },
    UsersChannelInList(){
      if(this.channels.length > 0){
        let channels = _.filter(this.channels, (channel) => {
          return channel.owner.id === this.User.id
        })
        if(channels.length > 0){
          return channels[0]
        }
      }
    }
  },
  beforeRouteEnter(to, from, next){
    Pace.restart()
    Vue.http.get('hosters').then(({data}) => {
      Pace.stop()
      next(vm => {
        vm.channels = data.message.hosters
      })
    })
  },
  methods: {
    AddChannelToList(){
      this.$store.dispatch('Modal/Display', {name: 'Hosting/AddToList', data: {channel: this.User.channel}})
    },
    RemoveChannelFromList(channel){
      Vue.http.delete('hosting/unregister?channel_id=' + channel.id).then(({data}) => {
        toastr.success(this.$i18n.t('Alerts.Success.Hosting_RemovedFromList'),  this.$i18n.t('Alerts.Headers.Success.2'))
      }, ({data}) => {
      })
    },
    GetPrize(channel){
      this.$store.dispatch('Modal/Display', {name: 'Hosting/GetPrize', data: {channel}})
    },
    GetBlockStyles(channel){
      if(channel.profile_banner){
        return {'background': 'url('+ channel.profile_banner +')', 'background-size':'cover', 'background-position': 'center'};
      }
    }
  },
  mounted(){
    this.Echo.channel('hosts-list')
    .on('hosts.list.updated', ({updatedHosts}) => {
      Vue.set(this, 'channels', updatedHosts.reverse())
    })

    this.$root.$events.$on('Language/Changed', () => {
      this.$emit('updateHead')
    })
  }
}
</script>
