<template>
  <div class="app-body">
    <div class="center-block w-xxl w-auto-xs p-y-md text-center">
      <div class="p-a-md">
        <div>
          <h4>{{ $t('Login.title')}}</h4>
          <p class="text-muted m-y">{{ $t('Login.description')}}</p>
        </div>
        <div>
          <a @click="Login('Twitch')" class="btn btn-block text-white m-b-sm"  style="background-color:#6441a4;">
            <i class="fa fa-twitch pull-left"></i>{{ $t('Login.LoginWithTwitch')}}
          </a>
          <a @click="Login('Twitter')" class="btn btn-block light-blue-600 text-white">
            <i class="fa fa-twitter pull-left"></i>{{ $t('Login.LoginWithTwitter')}}
          </a>
          <a @click="Login('Mixer')" class="btn btn-block indigo-700 text-white">
            <i class="fa fa-mixer pull-left"><img src="~assets/images/mixer.png"/></i>{{ $t('Login.LoginWithMixer')}}
          </a>
          <a @click="Login('Vk')" class="btn btn-block indigo-500 text-white">
            <i class="fa fa-vk pull-left"></i>{{ $t('Login.LoginWithVk')}}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import toastr from 'toastr'

export default {
  name: 'Login',
  components: {},
  computed: {
    Echo() {
      return this.$store.state.Echo.service
    },
    Seed() {
      return Math.round(Math.random() * (99999 - 10000) + 10000)
    }
  },
  data() {
    return {
      LastService: null,
      mW: null
    }
  },
  methods: {
    async Login(service) {
      this.LastService = service
      toastr.info(
        this.$i18n.t('Login.Alerts.Pending'),
        this.$i18n.t('Alerts.Headers.Info.1')
      )
      window.open(
        process.env.API_V_URL +
          `/auth/seed/${service.toLowerCase()}?seed=${this.Seed}`,
        '_blank',
        'width=600,height=400,location=false'
      )
    }
  },
  mounted() {
    const translator = this.$i18n
    let Channel = this.Echo.channel(`auth-state.${this.Seed}`)
    Channel.on('User.LoggedIn', event => {
      toastr.clear()
      toastr.success(
        translator.t('Login.Alerts.Success', { username: event.user.name }),
        translator.t('Alerts.Headers.Success.1')
      )
      this.$store.dispatch('User/LogIn', event)
      // if (event.channel !== null) {
      //   this.$store.dispatch('Modal/Display', {
      //     name: 'Channel/Found',
      //     data: { channel: event.channel }
      //   })
      //   return false
      // }
      this.$router.push({ name: 'promotions' })
    })
    Channel.on('Error', event => {
      toastr.clear()
      switch (event.message) {
        //TODO: Account update token - check validation (API)
        case 'service:unsupported':
          toastr.error('This service is turned off, try another', 'Oh, noo')
          break
        case 'account:in_use':
          toastr.error(
            `Account on ${this.LastService} is registered on another person`,
            'Oh, noo'
          )
          brak
        case 'account:not_yours':
          toastr.error(
            'This account was used to login with another email, contact with us if you have recentry changed email on ' +
              this.LastService,
            'Oh, noo'
          )
          brak
      }
    })
  },
  beforeRouteLeave(to, from, next) {
    this.Echo.leave('auth-state')
    next()
  }
}
</script>

<style scoped>
img {
  width: 18px;
  height: 18px;
}
</style>
