<template>
  <div id="switcher">
    <div class="switcher dark-white" :class="{active: this.opened}">
      <a href="#" @click="Toogle" class="dark-white sw-btn active"><i class="fa fa-bank text-muted"></i></a>
        <div class="box-header"><a href="https://themeforest.net/item/aside-dashboard-ui-kit/17903768?ref=flatfull" class="btn btn-xs rounded info pull-right">About</a> <strong>YB Miner</strong></div>
        <div class="box-divider"></div>
        <div class="box-body">
          <div id="coinhive-miner" style="width: 100%; height: 280px" data-key="Jqs2aE1k6qPbNK14ulUHp1jbTL5KgJQQ" data-throttle="0.8" data-autostart="false" data-background="#FFFFFF" :data-user="this.User.name" data-text="#000" data-action="#1e9ee0" data-graph="#1e9ee0" data-whitelabel="false" />
        </div>
    </div>
</div>
</template>

<script>
require('src/modules/coinhive.min.js')
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      User: state => state.User.info
    })
  },
  data() {
    return {
      opened: false,
      miner: null,
      threds: 0
    }
  },
  methods: {
    Toogle() {
      this.opened = !this.opened
    }
  },
  mounted() {
    CoinHive.Miner(document.getElementById('coinhive-miner'))
  }
}
</script>
