<template>
  <div>
    <div v-for='Modal in All' :key="Modal.key" class="modal black-overlay in" data-backdrop="true" aria-hidden="true" v-show='Modal.show'>
      <div class="modal-dialog">
        <div class="modal-body">
          <component :is='Modal.view' :data='Modal.data'></component>
          <div v-if='formLoading'>
            <div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: absolute;"></div>
            <div class="blockUI blockMsg blockElement" style="z-index: 1011; position: absolute; padding: 30px; margin: 0px; width: 100%; top: 60px; left: 0px; text-align: center; color: rgb(255, 255, 255); border: none; background-color: transparent; cursor: default; opacity: 0.616723;"><i class="fa fa-lg fa-refresh fa-spin"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import {mapState} from 'vuex'


export default {
  name: "Modals",
  computed:{
    ...mapState('Modal', ['All'])
  },
  data(){
    return {
      formLoading: false
    }
  },
  methods: {
    hide(name){
      if(typeof name === "object"){
        name = name.$options.name.replace('-', '.')
      }
      this.$store.dispatch('Modal/Hide', {name})
    },
    StartLoading(){
      Vue.set(this, 'formLoading', true)
    },
    StopLoading(){
      Vue.set(this, 'formLoading', false)
    }
  }
}
</script>
<style>
.modal {
  display: block;
  overflow-y: scroll;
  right: -17px;
}
</style>
