<template>
  <div data-flex class="hide-scroll">
    <nav class="scroll nav-stacked nav-stacked-rounded nav-color">
      <ul class="nav">
        <router-link active-class='active' tag='li' :to="{name: 'promotions'}">
          <a>
            <span class="nav-icon"><i class="fa  fa-th-large"></i></span>
            <span class="nav-text">{{ $t('Layouts.App.Menu.Broadcasts')}}</span>
          </a>
        </router-link>
        <!-- <router-link active-class='active' tag='li' :to="{name: 'hosts'}">
          <a>
            <span class="nav-icon"><i class="fa fa-line-chart"></i></span>
            <span class="nav-text">{{ $t('Layouts.App.Menu.Hosting')}}</span>
          </a>
        </router-link>
        <router-link active-class='active' tag='li' :to="{name: 'events'}">
          <a>
            <span class="nav-icon"><i class="fa fa-calendar"></i></span>
            <span class="nav-text">{{ $t('Layouts.App.Menu.Promo')}}</span>
          </a>
        </router-link> -->
      </ul>
    </nav>
  </div>
</template>
