<template>
  <div class="row">
    <div class="box-header">
      <page-title :title="$t('Dashboard.title')" :desc="$t('Dashboard.description')" />
      <div class="box-tool" style="margin-top: -0.5rem;">
        <ul class="nav">
          <div v-if='(this.UsersStreamInList && !this.StreamIsFirst) || !this.UsersStreamInList' style="float:right;">
            <li class="nav-item inline">
              <small>
                <div class="box-color pos-rlt m-r-sm" :class="{success: this.UsersStreamInList, dark: !this.UsersStreamInList}">
                  <span class="arrow right" :class="{'b-success': this.UsersStreamInList, 'b-dark': !this.UsersStreamInList}"></span>
                  <div v-if="this.UsersStreamInList" class="box-body">{{ $t('Dashboard.Update')}}</div>
                  <div v-else class="box-body">{{ $t('Dashboard.Add')}}</div>
                </div>
              </small>
            </li>
            <li class="nav-item inline">
              <a v-if='UsersStreamInList' @click.prevent="UpdatePromotion" href="#" class="nav-link">
                <i class="fa fa-fw fa-arrow-up text-success"></i>
              </a>
              <a v-else @click.prevent="CreatePromotion" href="#" class="nav-link">
                <i class="fa fa-fw fa-plus"></i>
              </a>
            </li>
          </div>

          <div v-if='UsersStreamInList' style="float:right;margin-right:10px;">
            <li class="nav-item inline">
              <small>
                <div class="box-color info pos-rlt" style="margin-right: 5px;">
                  <span class="arrow right b-info"></span>
                  <div class="box-body">{{ $t('Dashboard.Stop')}}</div>
                </div>
              </small>
            </li>

            <li class="nav-item inline">
              <a @click.prevent='StopPromotion()' href="#" class="nav-link">
                <i class="fa fa-fw fa-close text-danger"></i>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <promotion v-for='(promotion, key) in promotions' :promotion='promotion' :listKey="key" :key='promotion.id' />
  </div>
</template>

<script>
import Vue from 'vue'
import toastr from 'toastr'
import { mapState } from 'vuex'
import Promotion from 'components/Promotion/Promotion.vue'
import PageTitle from 'components/parts/PageTitle.vue'

export default {
  name: "Promotions",
  head: {
    title() {
      return {
        inner: this.$i18n.t('Dashboard.title')
      }
    }
  },
  components: { Promotion, PageTitle },
  data() {
    return {
      promotions: []
    }
  },
  computed: {
    ...mapState({
      User: state => state.User.info,
      Echo: state => state.Echo.service
    }),
    UsersStreamInList: function() {
      return 0 < _.filter(this.promotions, (promotion) => {
        return promotion.owner.id === this.User.id
      }).length
    },
    StreamIsFirst() {
      return (this.promotions.length > 0) ? this.promotions[0].owner.id === this.User.id : false
    }
  },
  methods: {
    CreatePromotion() {
      this.$store.dispatch('Modal/Display', { name: 'Promotion/Add' })
    },
    UpdatePromotion() {
      if (this.promotions[0].owner.id === this.User.id) {
        toastr.info(this.$i18n.t('Alerts.Dashboard.StreamIsFirst'), this.$i18n.t('Alerts.Headers.Info.0'))
      }
      Vue.http.put('promotions/update').then(({ data }) => {
        toastr.success(this.$i18n.t('Alerts.Stream.Added'), this.$i18n.t('Alerts.Headers.Succes.1'))
        this.$store.dispatch("User/UpdateBalance", data.message.user.balance)
      }, ({ data }) => {
        switch (data.message) {
          case "channel:not_online":
            toastr.error(this.$i18n.t('Alerts.Stream.NotOnline'), this.$i18n.t('Alerts.Headers.Error.0'))
            break;
          case "user:low_balance":
            toastr.error(this.$i18n.t('Alerts.User.LowBalance'), this.$i18n.t('Alerts.Headers.Error.2'))
            break;
        }
      })
    },
    StopPromotion() {
      Vue.http.delete(`promotions/remove`).then(({ data }) => {
        toastr.success(this.$i18n.t('Alerts.Stream.Removed'), this.$i18n.t('Alerts.Headers.Success.3'))
      })
    },
    _createPromotionsListeners() {
      this.promotions.forEach((promotion) => {
        this.Echo.channel('promotion.' + promotion.id)
          .on('presence-public:subsribed', (members) => {
            promotion.viewers = members
          })
        this.Echo.channel('promotion.' + promotion.id)
          .on('presence-public:leaved', (member) => {
            promotion.viewers = _.reject(promotion.viewers, viewer => viewer.id === member.id);
          })
      })
    }
  },
  mounted() {
    this.$parent.head = this.$i18n.t('Dashboard.title')
    this.Echo.channel('promotions-state')
      .on('Promotions.List.Updated', ({ promotions }) => {
        Vue.set(this, 'promotions', promotions.reverse())
      })
      
    this.$root.$events.$on('Language/Changed', () => {
      this.$emit('updateHead')
      this.$parent.head = this.$i18n.t('Dashboard.title')
    })
  },
  beforeRouteEnter(to, from, next) {
    Vue.http.get('promotions').then(({ data }) => {
      next(vm => {
        vm.promotions = data.message.promotions
        vm._createPromotionsListeners()
      })
    })
  }
}
</script>
