<template>
  <div class="row-col">
    <div class="col-sm-3 col-lg-2 b-r">
      <div class="p-y">
        <div class="nav-active-border left b-primary">
          <ul class="nav nav-sm">
            <li class="nav-item"><a class="nav-link block active" href="#" data-toggle="tab" data-target="#tab-1" aria-expanded="true">{{ $t('Settings.General.Menu') }}</a>
            </li>
            <li class="nav-item"><a class="nav-link block" href="#" data-toggle="tab" data-target="#tab-2" aria-expanded="false">{{ $t('Settings.Social.Menu') }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-lg-10 light bg">
      <div class="tab-content pos-rlt">
        <div class="tab-pane active" id="tab-1" aria-expanded="true">
          <div class="p-a-md b-b _600">{{ $t('Settings.General.Title') }}</div>
          <form id='AccountUpdateForm' role="form" class="p-a-md col-md-6">
            <div class="form-group">
              <label>{{ $t('Settings.General.Input1') }}</label>
              <textarea name='bio' type="text" class="form-control" v-model='User.channel.bio' v-if='User.channel != null'></textarea>
              <textarea name='bio' type="text" class="form-control" v-else disabled :placeholder="$t('Settings.General.ChannelNotChoosen')"></textarea>
            </div>
            <button type="submit"
            :disabled="User.channel == null"
            @click.prevent='UpdateAccountSettings()'
            @submit.prevent='UpdateAccountSettings()'
            class="btn btn-info m-t">{{ $t('Settings.General.Button', { for: User.channel ? $t('Settings.General.For', {channel: User.channel.display_name}) : null }) }}
          </button>
        </form>
      </div>
      <div class="tab-pane" id="tab-2" aria-expanded="false">
        <div class="p-a-md b-b _600">{{ $t('Settings.Social.Title') }}</div>
        <form id='AccountSocialUpdateForm' role="form" class="p-a-md col-md-6">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-facebook" style="margin-left: 7px;"></i></div>
              <input v-model='User.facebook' name='facebook' class="form-control" type="email" :placeholder="$t('Settings.Social.Facebook')">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-vk"></i></div>
              <input v-model='User.vk' name='vk' class="form-control" type="email" :placeholder="$t('Settings.Social.Vk')">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i style='margin-left:3px;' class="fa fa-twitter"></i></div>
              <input v-model='User.twitter' name='twitter' class="form-control" type="email" :placeholder="$t('Settings.Social.Twitter')">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i style='margin-left:5px;' class="fa fa-youtube"></i></div>
              <input v-model='User.youtube' name='youtube' class="form-control" type="email" :placeholder="$t('Settings.Social.Youtube')">
            </div>
          </div>
          <button type="submit"
          @click.prevent='UpdateSocialAccountsSettings()'
          @submit.prevent='UpdateSocialAccountsSettings()'
          class="btn btn-info m-t">
          {{ $t('Settings.Social.Button') }}
        </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
import Vue from 'vue'
import toastr from 'toastr'

export default {
  computed: {
    User(){
      return this.$store.state.User.info
    }
  },
  mounted(){
    this.$parent.head = '<span>Настройки</span>'
  },
  methods: {
    UpdateAccountSettings(){
      Vue.http.put('settings/account', new FormData(document.getElementById('AccountUpdateForm'))).then(({data}) => {
        toastr.success(this.$i18n.t('Alerts.Success.Settings_Updated'),  this.$i18n.t('Alerts.Headers.Success.3'))
        this.$store.dispatch("User/Update", data.message.user)
      }, ({data}) => {
        switch (data.message) {

        }
      })
    },
    UpdateSocialAccountsSettings(){
      Vue.http.put('settings/social', new FormData(document.getElementById('AccountSocialUpdateForm'))).then(({data}) => {
        toastr.success(this.$i18n.t('Alerts.Success.Settings_Updated'),  this.$i18n.t('Alerts.Headers.Success.1'))
        this.$store.dispatch("User/Update", data.message.user)
      }, ({data}) => {
        switch (data.message) {

        }
      })
    }
  }
}
</script>
