<template>
  <div v-if='stream'>
    <div class="item">
      <div class="item-bg"><img :src="stream.channel.profile_banner" class="blur opacity-3"></div>
      <div class="p-a-md no-p">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href="#" class="pull-left m-r-md"><span class="avatar w-96">
              <img :src="stream.channel.logo">
              <i v-if='stream.online' class="on b-white"></i>
              <i v-else class="busy b-white"></i>
            </span>
          </a>
          <div class="clear m-b"><h4 class="m-a-0 m-b-sm">{{ stream.channel.display_name }}</h4>
            <p class="text-muted"><span class="m-r"><i
              class="fa fa-bullhorn"></i> {{ stream.channel.status }}</span>
              <label class="ui-check text-white" style="padding-left: 5px;opacity: .8">
                <input type="radio" name="a" checked="checked"><i></i>
              </label>
              <small><i class="fa fa-gamepad m-r-xs"></i>{{ stream.game }}</small>
              <label v-if='stream.online' class="ui-check text-white" style="padding-left: 20px;opacity: .8">
                <input type="radio" name="b" checked="checked"><i></i>
              </label>
              <small v-if='stream.online' class="text-success"><i class="fa fa-bolt"></i> +{{ stream.countBonus }}/{{ $t('View.Minute') }}</small>
              <label v-if='stream.online' class="ui-check text-white" style="padding-left: 20px;opacity: .8">
                <input type="radio" name="c" checked="checked"><i></i>
              </label>
              <small v-if='stream.online' :class="{'text-success': !stream.muted, 'text-danger': stream.muted}">
                <i v-if='stream.muted' class="fa fa-microphone-slash"></i>
                <i v-else class="fa fa-microphone"></i>
              </small>
            </p>
            <div class="block clearfix">
              <a :href="'http://facebook.com/' +User.facebook" v-if='User.facebook' target='_blank' class="btn btn-icon btn-social rounded b-a btn-sm"><i class="fa fa-facebook"></i> <i class="fa fa-facebook indigo"></i></a>
              <a :href="'http://twitter.com/' +User.twitter" v-if='User.twitter'  target='_blank' class="btn btn-icon btn-social rounded b-a btn-sm"><i class="fa fa-twitter"></i> <i class="fa fa-twitter light-blue"></i></a>
              <a :href="'http://vk.com/' +User.vk" v-if='User.vk'  target='_blank' class="btn btn-icon btn-social rounded b-a btn-sm"><i class="fa fa-vk"></i> <i class="fa fa-vk blue"></i></a>
              <a :href="'http://youtube.com/' +User.youtube" v-if='User.youtube' target='_blank' class="btn btn-icon btn-social rounded b-a btn-sm"><i class="fa fa-youtube"></i> <i class="fa fa-youtube red"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-5"><p class="text-md profile-status">{{ stream.channel.bio |  truncate(250) }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="white bg b-b p-x">
    <div class="row">
      <div class="col-sm-6 push-sm-6">
        <div class="p-y text-center text-sm-right">

          <a v-if='stream.online' href="#" class="inline p-x text-center">
            <span class="h4 block m-a-0 text-success"><span class="odometer"
              id="viewers">{{ RealViewers }}</span> <small style='font-size:16px;' class="text-muted">( +{{ Object.keys(this.stream.viewers).length }} )</small></span>
              <small class="text-xs text-muted">{{ $t('View.Counters.NowLooking') }}</small>
            </a>
            <a href="#" class="inline p-x b-l text-center">
              <span class="h4 block m-a-0 text-info"><span class="odometer"
                id="views">{{ stream.channel.views | currency('', 0) }}</span></span>
                <small class="text-xs text-muted">{{ $t('View.Counters.Views') }}</small>
              </a>
              <a href="#" class="inline p-x b-l text-center">
                <span class="h4 block m-a-0 text-warn"><span class="odometer"
                  id="followers">{{ stream.channel.followers | currency('', 0) }}</span></span>
                  <small class="text-xs text-muted">{{ $t('View.Counters.Followers') }}</small>
                </a>
              </div>
            </div>
            <div class="col-sm-6 pull-sm-6">
              <div class="p-y-md clearfix nav-active-info">
                <ul class="nav nav-pills nav-sm" role="tablist">
                  <li role="presentation" class="nav-item">
                    <a class="nav-link active" aria-controls="show_tab" href="#show_tab" role='tab' data-toggle="tab">{{ $t('View.View') }}</a>
                  </li>
                  <li role="presentation" class="nav-item">
                    <a class="nav-link" aria-controls="viewers_tab" href="#viewers_tab" role='tab' data-toggle="tab">{{ $t('View.Viewers') }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="Block" class="alert bg-warning" style="border-radius: 0px;display: none">
          <strong>Внимание!</strong><br><br>
          Вы превысили ограничение на просмотр трансляций в несколько параллельных потоков.
        </div>

        <div id="Block" class="alert bg-warning" style="border-radius: 0px;display: none">
          <strong>Внимание!</strong><br><br>
          Вы превысили ограничение на просмотр трансляций в несколько параллельных потоков.
        </div>
        <div class="padding">
          <div class="row">
            <div class="col-sm-8 col-lg-9" id="placeHolder">
              <div class="tab-content">
                <div class="tab-pane p-v-sm active" id="show_tab">
                  <twitch-player :channel="stream.channel.username" :width="TwitchPlayer.height" :height="TwitchPlayer.height"></twitch-player>
                </div>
                <div class="tab-pane p-v-sm" id="viewers_tab">
                  <div class="row row-sm">
                    <div v-for='viewer in stream.viewers' class="col-xs-6 col-lg-4">
                      <div class="list-item box r m-b"><a herf class="list-left">
                        <span class="w-40 avatar">
                          <img :src="viewer.avatar" :alt="viewer.display_name">
                          <i v-show='viewer.online' class="on b-white bottom"></i>
                          <i v-show='!viewer.online' class="busy b-white bottom"></i>
                        </span></a>
                        <div class="list-body">
                          <div class="text-ellipsis"><router-link :to="{ name: 'view', params: { stream_id: stream.id }}">{{ viewer.display_name }}
                            <small v-if='viewer.id === User.id' class="text-success">({{ $t('View.You') }})</small>
                          </router-link>
                        </div>
                        <small class="text-muted text-ellipsis">{{ viewer.bio }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div>
              <div class="box info">
                <div class="box-header"><h3>Чат</h3></div>
                <div class="box-divider m-a-0"></div>
                <!-- <iframe :src="ChatUrl"  frameborder="0" style="margin-bottom: -5px;" allowfullscreen="true" scrolling="no" height="550" width="100%"></iframe> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import TwitchPlayer from 'vue-twitch-player';
import _ from 'underscore'
import toastr from 'toastr'
import {Tab} from 'bootstrap'
import Odometer from 'odometer'
import Pace from 'pace-progress'
import WindowStateManager from 'src/modules/WindowStateManager'
import {currency} from 'components/../helpers'

require('odometer/themes/odometer-theme-minimal.css')

export default {
  name: "View",
  components: {
    TwitchPlayer
  },
  data(){
    return {
      stream: null,
      PlayerInited: false,
      CounterStarted: false,
      player: null,
      MuteTimer: null,
      timer: null,
      TwitchPlayer: null
    }
  },
  computed: {
    Echo (){
      return this.$store.state.Echo.service
    },
    User (){
      return this.$store.state.User.info
    },
    ChatUrl (){
      return "https://www.twitch.tv/" + this.stream.channel.username + "/chat?popup="
    },
    SelfLooking(){
      return this.stream.owner.id === this.User.id
    },
    RealViewers(){
      return this.GetViewers()
    }
  },
  beforeRouteEnter(to, from, next){
    Pace.restart()
    Vue.http.get('promotions/find/' + to.params.stream_id).then(({data}) => {
      Pace.stop()
      next(vm => {
        vm.stream = data.message.promotion
      })
    })
  },
  beforeRouteLeave(to, from, next){
    this.Echo.leave('promotion-state.' + this.stream.id)
    $(window).resize(() => {});
    this.StopCounter()
    toastr.clear()
    next()
  },
  watch: {
    stream(){
      if(!this.PlayerInited){
        $(document).ready(() => {

          if(this.SelfLooking){
            toastr.warning(this.$i18n.t('Alerts.View.SelfLooking'),this.$i18n.t('Alerts.Headers.Info.0'), {timeOut: 0, extendedTimeOut: 0, closeButton: false})
          }
          //TODO: NO API PARAM
          // if(!this.stream.owner.canPayNexMinute){
          //   this.$store.dispatch('Modal/Display', {name:'StreamerNoMoneyLeft'})
          //   this.StopCounter()
          //   this.CounterStarted = true;
          // }

          this.InitOdometr()
          this.JoinEcho()
          this.InitPlayer()
          // .then(() => {
          //   this.RegisterTwitchEvents().then(() => {
          //     this.StartCounter();
          //   })
          // })
          // this.RegisterEvents();
        })
      }
    }
  },
  methods: {
    GetViewers(){
      return currency(this.stream.users - Object.keys(this.stream.viewers).length, '', 0)
    },
    InitOdometr(){
      let ids = ['views', 'followers', 'viewers'];
      ids.forEach((id) => {
        var el = document.querySelector('#'+id);
        new Odometer({
          el: el,
          value: el.innerText
        });
      })
    },
    InitPlayer(stream){
      return new Promise((resolve,reject) => {
        var options = {
          channel: this.stream.channel.username,
          width: $('#placeHolder').width(),
          height: 600
        };
        

        this.player = new Twitch.Player('StreamPlayer', options)
        this.PlayerInited = true
        $(window).resize(function () {
          var iframe = $('iframe')[0];
          iframe.width = $('#placeHolder').width();
        });
        resolve()
      });
    },
    RegisterTwitchEvents(){
      return new Promise((resolve, reject) => {
        if(!this.SelfLooking){
          this.player.addEventListener(Twitch.Player.READY, () => {
            this.player.addEventListener(Twitch.Player.PLAY, () => {
              this.InitEarn()
              this.player.addEventListener(Twitch.Player.PAUSE, () => {
                setTimeout(() => {
                  if(this.player.isPaused()){
                    this.StopCounter()
                    this.chartStarted = false;
                    this.$store.dispatch('Modal/Display', {name: 'Stream/Paused'})
                  }
                },100)
              });
              this.player.addEventListener(Twitch.Player.ENDED, () => {
                this.StopCounter()
                clearInterval(this.MuteTimer)
                this.chartStarted = false;
                this.$store.dispatch('Modal/Display', {name: 'Stream/Offline'})
              });
              resolve()
            })
          })
        }else{
          reject()
        }
      })
    },
    InitEarn(){
      if (!this.chartStarted && !WindowStateManager.shouldBlock() && !this.SelfLooking) {
        this.StartCounter()
        this.StartMuteTimer();
      } else {
        if (WindowStateManager.shouldBlock()) {
          $('#Block').css('display', 'block');
        }
      }
    },
    StartCounter(){
      if(!this.CounterStarted && !this.SelfLooking){
        var currentTime = 0;
        this.timer = setInterval(() => {
          currentTime += 1.67;
          $('.progress-bar').css('width', currentTime + '%');
          if ((currentTime).toFixed() == 100) {
            currentTime = 0;
            this.SendRequest();
          }
        }, 1000)
        this.CounterStarted = true
      }
    },
    SendRequest(){
      Vue.http.post('stream/earn', {stream_id: this.stream.id }).then(({data}) => {
        this.StopCounter()
        this.StartCounter();
        this.$store.dispatch("User/UpdateBalance", data.message.user.balance)
        document.querySelector('#views').innerText = data.message.channel.views;
        document.querySelector('#followers').innerText = data.message.channel.followers;
        document.querySelector('#viewers').innerText = this.GetViewers(data.message.stream.users);
        Vue.set(this,'stream', data.message.stream)
      }, ({data}) => {
        switch (data.message) {
          case"owner:can_not_pay":
          this.$store.dispatch('Modal/Display', {name: 'StreamerNoMoneyLeft'})
          this.StopCounter()
          this.player.pause()
          break;
          case"stream:is_offline":
          this.$store.dispatch('Modal/Display', {name: 'Stream/Offline'})
          this.StopCounter()
          this.player.pause()
          break;
        }
      })
    },
    StopCounter (){
      clearInterval(this.timer);
      $('.progress-bar').css('width', 0 + '%');
      this.CounterStarted = false
    },
    RegisterEvents(){
      this.$root.$events.$on('Stream/UnPause', () => {
        this.player.play()
        this.$store.dispatch('Modal/Hide', {name: "Stream/Paused"})
        this.StartCounter()
      })
      this.$root.$events.$on('Stream/UnMute', () => {
        clearInterval(this.MuteTimer)
        this.player.setMuted(false);
        this.player.setVolume(0.25)
        this.$store.dispatch('Modal/Hide', {name:  "Stream/Muted"})
        this.StartCounter()
        this.StartMuteTimer()
      })
      this.$root.$events.$on('Stream/IgnoreMute', () => {
        clearInterval(this.MuteTimer)
        this.$store.dispatch('Modal/Hide', {name: "Stream/Muted"})
        this.StartListenForVolume()
      })
    },
    StartMuteTimer(){
      if(this.stream.muted){
        let timer = setInterval(() =>  {
          if (this.player.getMuted()) {
            clearInterval(timer)
            this.StopCounter()
            this.$store.dispatch('Modal/Display', {name: 'Stream/Muted'})
          }
        }, 100);
        this.MuteTimer = timer
      }
    },
    StartListenForVolume(){
      let volumeTimer = setInterval(() =>  {
        if (!this.player.getMuted()) {
          this.StartCounter()
          this.StartMuteTimer()
          toastr.info('Мы заметили что вы включили звук, и снова запустили ваш заработок', 'Отлично!')
          clearInterval(volumeTimer)
        }
      }, 100);
    },
    JoinEcho(){
      this.Echo.join('stream.' + this.stream.id).here(viewers => {
        this.stream.viewers = viewers
      }).joining((user) => {
        this.stream.viewers.push(user)
      })
      .leaving((user) => {
        this.stream.viewers = _.reject(this.stream.viewers, viewer => viewer.id == user.id);
      })
    }
  }
}
</script>
