<template>
<div v-if='promotion' style="margin-top:-20px">
   <div class="item">
      <div class="item-bg"><img :src="promotion.channel.profile_banner" class="blur opacity-3"></div>
      <div class="p-a-md no-p">
         <div class="row m-t">
            <div class="col-sm-7">
               <a href="#" class="pull-left m-r-md"><span class="avatar w-96">
               <img :src="promotion.channel.logo">
               <i v-if='promotion.online' class="on b-white"></i>
               <i v-else class="busy b-white"></i>
               </span>
               </a>
               <div class="clear m-b">
                  <h4 class="m-a-0 m-b-sm">{{ promotion.channel.display_name }}</h4>
                  <p class="text-muted"><span class="m-r"><i
                     class="fa fa-bullhorn"></i> {{ promotion.channel.status }}</span>
                     <label class="ui-check text-white" style="padding-left: 5px;opacity: .8"><input type="radio" name="a" checked="checked"><i></i></label>
                     <small><i class="fa fa-gamepad m-r-xs"></i>{{ promotion.game }}</small>
                     <label v-if='promotion.online' class="ui-check text-white" style="padding-left: 20px;opacity: .8"><input type="radio" name="b" checked="checked"><i></i></label>
                     <small v-if='promotion.online' class="text-success"><i class="fa fa-bolt"></i> +{{ promotion.earning }}/{{ $t('View.Minute') }}</small>
                     <label v-if='promotion.online' class="ui-check text-white" style="padding-left: 20px;opacity: .8"><input type="radio" name="c" checked="checked"><i></i></label>
                     <small v-if='promotion.online' :class="{'text-success': !promotion.muted, 'text-danger': promotion.muted}">
                        <i v-if='promotion.muted' class="fa fa-microphone-slash"></i>
                        <i v-else class="fa fa-microphone"></i>
                     </small>
                  </p>
                  <div class="block clearfix">
                     <a :href="'http://facebook.com/' +User.facebook" v-if='User.facebook' target='_blank' class="btn btn-icon btn-social rounded b-a btn-sm"><i class="fa fa-facebook"></i> <i class="fa fa-facebook indigo"></i></a>
                     <a :href="'http://twitter.com/' +User.twitter" v-if='User.twitter'  target='_blank' class="btn btn-icon btn-social rounded b-a btn-sm"><i class="fa fa-twitter"></i> <i class="fa fa-twitter light-blue"></i></a>
                     <a :href="'http://vk.com/' +User.vk" v-if='User.vk'  target='_blank' class="btn btn-icon btn-social rounded b-a btn-sm"><i class="fa fa-vk"></i> <i class="fa fa-vk blue"></i></a>
                     <a :href="'http://youtube.com/' +User.youtube" v-if='User.youtube' target='_blank' class="btn btn-icon btn-social rounded b-a btn-sm"><i class="fa fa-youtube"></i> <i class="fa fa-youtube red"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-sm-5">
               <p class="text-md profile-status">{{ promotion.channel.bio |  truncate(250) }}</p>
            </div>
         </div>
      </div>
   </div>
   <div class="white bg b-b p-x">
    <div class="row">
      <div class="col-sm-6 push-sm-6">
        <div class="p-y text-center text-sm-right">

          <a v-if='promotion.online' href="#" class="inline p-x text-center">
            <span class="h4 block m-a-0 text-success">
              <v-dometer :value="RealViewers"></v-dometer>
              <small style='font-size:16px;' class="text-muted">( +<v-dometer :value="Object.keys(this.promotion.viewers).length"></v-dometer> )</small>
            </span>
              <small class="text-xs text-muted">{{ $t('View.Counters.NowLooking') }}</small>
            </a>
            <a href="#" class="inline p-x b-l text-center">
              <span class="h4 block m-a-0 text-info"><v-dometer :value="promotion.channel.views"></v-dometer></span>
                <small class="text-xs text-muted">{{ $t('View.Counters.Views') }}</small>
              </a>
              <a href="#" class="inline p-x b-l text-center">
                <span class="h4 block m-a-0 text-warn"><v-dometer :value="promotion.channel.followers"></v-dometer></span>
                  <small class="text-xs text-muted">{{ $t('View.Counters.Followers') }}</small>
                </a>
              </div>
            </div>
            <div class="col-sm-6 pull-sm-6">
              <div class="p-y-md clearfix nav-active-info">
                <ul class="nav nav-pills nav-sm" role="tablist">
                  <li role="presentation" class="nav-item">
                    <a class="nav-link active" aria-controls="show_tab" href="#show_tab" role='tab' data-toggle="tab">{{ $t('View.View') }}</a>
                  </li>
                  <li role="presentation" class="nav-item">
                    <a class="nav-link" aria-controls="viewers_tab" href="#viewers_tab" role='tab' data-toggle="tab">{{ $t('View.Viewers') }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="padding">
          <div class="row">
            <div class="col-sm-8 col-lg-9" id="placeHolder">
              <div class="tab-content">
                <div class="tab-pane p-v-sm active" id="show_tab">
                  <twitch-player ref="player" :channel="TwitchPlayer.channel" :volume="TwitchPlayer.volume" :width="TwitchPlayer.width" :height="TwitchPlayer.height"></twitch-player>
                </div>
                <div class="tab-pane p-v-sm" id="viewers_tab">
                  <div class="row row-sm">
                    <div v-for='(viewer, key) in promotion.viewers' :key='viewer.id' class="col-xs-6 col-lg-4">
                      <div class="list-item box r m-b"><a herf class="list-left">
                        <span class="w-40 avatar">
                          <img :src="viewer.avatar" :alt="viewer.display_name">
                          <i v-show='viewer.online' class="on b-white bottom"></i>
                          <i v-show='!viewer.online' class="busy b-white bottom"></i>
                        </span></a>
                        <div class="list-body">
                          <div class="text-ellipsis"><router-link :to="{ name: 'view', params: { promotion_id: promotion.id }}">{{ viewer.display_name }}
                            <small v-if='viewer.id === User.id' class="text-success">({{ $t('View.You') }})</small>
                          </router-link>
                        </div>
                        <small class="text-muted text-ellipsis">{{ viewer.bio }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div>
              <div class="box info">
                <div class="box-header"><h3>Чат</h3></div>
                <div class="box-divider m-a-0"></div>
                <twitch-chat ref='chat' :channel="TwitchPlayer.channel" style="margin-bottom: -5px;" :height="TwitchChat.height" :width="TwitchChat.width" :frameBorder="0" :scrolling="true"></twitch-chat>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</template>

<script>
import Vue from "vue";
import { mapState } from "vuex";
import TwitchPlayer from "vue-twitch-player";
import TwitchChat from "vue-twitch-chat";
import _ from "underscore";
import toastr from "toastr";
import { Tab } from "bootstrap";
import VDometer from 'vue-odometer'
import WindowStateManager from "src/modules/WindowStateManager";
import { currency } from "src/helpers";

export default {
  name: "View",
  components: {
    TwitchPlayer,
    TwitchChat,
    VDometer
  },
  computed: {
    ...mapState({
      User: state => state.User.info,
      Echo: state => state.Echo.service
    }),
    RealViewers() {
      let keys = Object.keys(this.promotion.viewers).length;
      keys = this.promotion.users - keys
      return keys < 0 ? 0 : keys
    },
    SelfLooking() {
      return this.promotion.owner.id === this.User.id;
    }
  },
  data() {
    return {
      promotion: null,
      TwitchPlayer: null,
      _isEarning: false,
      _EarnTimer: null,
      _MuteTimer: null,
      TwitchChat: {
        height: "500px",
        width: "100%"
      }
    };
  },
  beforeRouteEnter(to, from, next) {
    Vue.http
      .get("promotions/find/" + to.params.promotionId)
      .then(({ data }) => {
        next(vm => {
          vm.promotion = data.message.promotion;
          if (data.message.promotion) {
            vm._InitPlayer();
          }
        });
      });
  },
  beforeRouteLeave(to, from, next) {
    this.Echo.leave("promotion." + this.promotion.id);
    $(window).resize(() => {});
    this._StopCounter();
    this._StopMuteTimer();
    toastr.clear();
    next();
  },
  methods: {
    _SendRequest() {
      Vue.http.post("promotions/earn", { promotion_id: this.promotion.id }).then(
        ({ data }) => {
          this._RestartCounter();
          this.$store.dispatch("User/UpdateBalance", data.message.user.balance);
          Vue.set(this, "promotion", data.message.promotion);
        },
        ({ data }) => {
          switch (data.message) {
            case "owner:can_not_pay":
              this.$store.dispatch("Modal/Display", {
                name: "StreamerNoMoneyLeft"
              });
              this._StopCounter();
              this.$refs.player.pause();
              break;
            case "stream:is_offline":
              this.$store.dispatch("Modal/Display", { name: "Stream/Offline" });
              this._StopCounter();
              this.$refs.player.pause();
              break;
          }
        }
      );
    },
    _InitPlayer() {
      this.TwitchPlayer = {
        channel: this.promotion.channel.username,
        volume: 0.5,
        height: "550px",
        width: "100%"
      };
    },
    _StartEarn() {
      if (
        !this._isEarning &&
        !WindowStateManager.shouldBlock() &&
        !this.SelfLooking
      ) {
        this._RunCounter();
        this._RunMuteTimer();
      } else {
        if (WindowStateManager.shouldBlock()) {
          $("#Block").css("display", "block");
        }
      }
    },
    _RestartCounter(){
      this._StopCounter()
      this._RunCounter()
    },
    _RunCounter() {
      if (!this._isEarning && !this.SelfLooking) {
        var currentTime = 0;
        this._EarnTimer = setInterval(() => {
          currentTime += 1.67;
          $(".progress-bar").css("width", currentTime + "%");
          if (currentTime.toFixed() == 100) {
            currentTime = 0;
            this._SendRequest();
          }
        }, 1000);
        this._isEarning = true;
      }
    },
    _StopCounter() {
      clearInterval(this._EarnTimer);
      $(".progress-bar").css("width", 0 + "%");
      this._isEarning = false;
    },
    _RunMuteTimer() {
      if (this.promotion.muted) {
        let timer = setInterval(() => {
          if (this.$refs.player.isMuted()) {
            clearInterval(timer);
            this._StopCounter();
            this.$store.dispatch("Modal/Display", { name: "Stream/Muted" });
          }
        }, 100);
        this._MuteTimer = timer;
      }
    },
    _StopMuteTimer(){
        clearInterval(this._MuteTimer)
    },
    _StartListenForVolume() {
      let volumeTimer = setInterval(() => {
        if (!this.$refs.player.isMuted()) {
          this._RunCounter();
          this._RunMuteTimer();
          toastr.info(
            "Мы заметили что вы включили звук, и снова запустили ваш заработок",
            "Отлично!"
          ); //TODO: Move to text file
          clearInterval(volumeTimer);
        }
      }, 100);
    },
    _registerModalsEvents() {
      let vm = this
      this.$root.$events.$on("Stream/UnPause", () => {
        vm.$refs.player.play();
        vm._RunCounter();
      });
      this.$root.$events.$on("Stream/UnMute", () => {
        vm._StopMuteTimer();
        vm.$refs.player.unmute();
        vm.TwitchPlayer.volume = 0.25;
        vm._RunCounter();
        vm._RunMuteTimer();
      });
      this.$root.$events.$on("Stream/IgnoreMute", () => {
        vm._StopCounter();
        vm._StartListenForVolume();
      });
    },
    _registerPlayerEvents() {
      this.$refs.player.$on("ready", () => {
        this._registerModalsEvents();
        this.$refs.player.$on("online", () => {
          this.$refs.player.$on("play", () => {
            this._StartEarn();
          });
          this.$refs.player.$on("pause", () => {
            this._StopCounter();
            this.$store.dispatch("Modal/Display", { name: "Stream/Paused" });
          });
          this.$refs.player.$on("ended", () => {
            this._StopCounter();
            this.$store.dispatch("Modal/Display", { name: "Stream/Offline" });
          });
        });
        this.$refs.player.$on("offline", () => {
          this._StopCounter();
          this.$store.dispatch("Modal/Display", { name: "Stream/Offline" });
        });
      });
    },
    _JoinEcho() {
      this.Echo
        .join("promotion." + this.promotion.id)
        .here(viewers => {
          this.promotion.viewers = viewers;
        })
        .joining(user => {
          this.promotion.viewers.push(user);
        })
        .leaving(user => {
          this.promotion.viewers = _.reject(
            this.promotion.viewers,
            viewer => viewer.id == user.id
          );
        });
    }
  },
  mounted() {
    $(window).ready(() => {
      this._registerPlayerEvents();
      this._JoinEcho();
    });
  }
};
</script>
