<template>
  <div class="app-body">
    <div class="row-col black">
      <div class="col-sm-3"></div>
      <stream-promoted-box :stream="stream"></stream-promoted-box>
      <div v-if='stream'  class="col-sm-2"></div>
      <div class="col-sm-4 text-center">
        <div class="p-t-lg">
          <h1 class="m-y-md text-white">{{ $t("Welcome.Intro") }}</h1>
          <h6 class="text-muted m-b-lg">{{ $t("Welcome.Slogan") }}</h6>
          <router-link id='AnnoTest' :to="{ name: 'promotions'}" tag="a" v-show='User.exists' class="btn btn-lg rounded btn-outline b-success p-x-md m-x">{{ $t("Welcome.GoToPanel") }}</router-link>
          <router-link :to="{name: 'login'}" v-show='!User.exists' class="btn btn-lg rounded success p-x-md m-x">{{ $t("Welcome.Login") }}</router-link>
          <a href="#about" data-ui-scroll-to="" class="btn btn-lg rounded p-x-md m-x">{{ $t("Welcome.MoreInfo") }}</a>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="black">
      <div>
        <canvas id='chart' width="1903" height="150" style="display: block; width: 1903px; height: 150px;"></canvas>
      </div>
    </div>
    <div class="row-col info h-v p-t-lg">
      <div class="col-sm-1"></div>
      <div class="col-sm-5" id="about">
        <div class="p-a-lg"><h3 class="m-y-lg">{{ $t("Welcome.YourBoost") }}</h3>
          <p class="text-muted m-b-lg text-md">
            {{ $t("Welcome.YourBoostDescription") }}
          </p>
          <ul class="list no-border" style="font-size: 18px;margin-top:-40px;color:rgb(55, 249, 154)!important;">
            <li class='list-item'>
               <i class='ion-ios-checkmark-outline' style='font-weight: bold; font-size: 18px;'></i> {{ $t("Welcome.YourBoostList.first") }}
             </li>
             <li class='list-item'>
               <i class='ion-ios-checkmark-outline' style='font-weight: bold; font-size: 18px;'></i> {{ $t("Welcome.YourBoostList.second") }}
             </li>
             <li class='list-item'>
               <i class='ion-ios-checkmark-outline' style='font-weight: bold; font-size: 18px;'></i> {{ $t("Welcome.YourBoostList.third") }}
             </li>
             <li class='list-item'>
               <i class='ion-ios-checkmark-outline' style='font-weight: bold; font-size: 18px;'></i> {{ $t("Welcome.YourBoostList.for") }}
             </li>
          </ul>
          <router-link :to="{ name: 'promotions'}" tag="a" v-show='User.exists' class="btn btn-lg rounded btn-outline bg-success p-x-md m-x">{{ $t("Welcome.GoToPanel") }}</router-link>
          <router-link :to="{name: 'FAQ'}" v-show='!User.exists' class="btn rounded b-warning b-2x m-b-lg p-x-md">{{ $t("Welcome.MoreInfo") }}</router-link>
        </div>
      </div>

      <slick ref="slick" :options="slickOptions" class='col-sm-6 '>
        <div class='screenshots s1' />
        <div class='screenshots s2' />
        <div class='screenshots s3' />
        <div class='screenshots s4' />
      </slick>
    </div>
    <div class="p-y-lg b-b box-shadow-z0 dark-white" id="features">
      <div class="container p-y-md">
        <h4 class="text-center m-b-lg">{{ $t("Welcome.Features.title") }}</h4>
        <div class="row">
          <div class="col-sm-4 m-y-md">
            <span class="text-muted">
              <i class="ion-ios-monitor-outline text-3x"></i>
            </span>
            <h6 class="_600 m-y">{{ $t("Welcome.Features.1.title") }}</h6>
            <p class="text-muted">
              {{ $t("Welcome.Features.1.description") }}
            </p>
          </div>
          <div class="col-sm-4 m-y-md"><span class="text-muted"><i class="ion-ios-paper-outline text-3x"></i></span><h6 class="_600 m-y">{{ $t("Welcome.Features.2.title") }}</h6>
            <p class="text-muted">{{ $t("Welcome.Features.2.description") }}</p>
          </div>
          <div class="col-sm-4 m-y-md"><span class="text-muted"><i class="ion-ios-pie-outline text-3x"></i></span><h6 class="_600 m-y">{{ $t("Welcome.Features.3.title") }}</h6>
            <p class="text-muted">{{ $t("Welcome.Features.3.description") }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 m-y-md"><span class="text-muted"><i class="ion-ios-time-outline text-3x"></i></span><h6 class="_600 m-y">{{ $t("Welcome.Features.4.title") }}</h6>
            <p class="text-muted">{{ $t("Welcome.Features.4.description") }}</p>
          </div>
          <div class="col-sm-4 m-y-md"><span class="text-muted"><i class="ion-ios-settings text-3x"></i></span><h6 class="_600 m-y">{{ $t("Welcome.Features.5.title") }}</h6>
            <p class="text-muted">{{ $t("Welcome.Features.5.description") }}</p>
          </div>
          <div class="col-sm-4 m-y-md"><span class="text-muted"><i class="ion-cube text-3x"></i></span><h6 class="_600 m-y">{{ $t("Welcome.Features.6.title") }}</h6>
            <p class="text-muted">{{ $t("Welcome.Features.6.description") }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-light" id="demos">
      <div class="container">
        <div class="p-a-lg text-center"><h2 class="m-b-lg">{{ $t("Welcome.Services.title") }}</h2>
          <p class="text-muted m-b-lg text-md">{{ $t("Welcome.Services.description") }}</p>
        </div>
      </div>
      <div class="no-scroll h-v" style="max-height: 500px">
        <div class="p-a" style="transform: translate(50%, 0%) scale(.9) rotateX(60deg) rotateY(0deg) rotate(45deg);transform-origin: top">
          <div class="row">
            <div class="col-xs-4">
              <div>
                <div class="item-media item-media-4by3 margin"></div>
                <div class="item-media item-media-4by3 margin"></div>
                <a href="#" class="item-media item-media-4by3 margin box-shadow-z3" :style='{ "background-image": "url(" + images.Ytb + ")", "background-position": "center" }'>
                  <div class="blockUI blockOverlay" style="color:white;z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.8; cursor: default; position: absolute;">
                    <h1 class="text-md m-t block text-muted" style="position: absolute;top: 40%;left: 30%;font-size: 45px;font-weight: bold;">Coming Soon</h1>
                  </div>
                </a>
                <a href="#" class="item-media item-media-4by3 margin box-shadow-z3" :style="{ 'background-image': 'url(' + images.Tw + ')','background-position': 'center', 'background-size': 'cover' }">
                </a>
              </div>
            </div>
            <div class="col-xs-4">
              <div>
                <div class="item-media item-media-4by3 margin"></div>
                <a href="#" class="item-media item-media-4by3 margin box-shadow-z3" :style="{ 'background-image': 'url(' + images.Gg + ')', 'background-size': 'cover', 'background-position-x': '-90px' }">
                  <div class="blockUI blockOverlay" style="color:white;z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.8; cursor: default; position: absolute;">
                    <h1 class="text-md m-t block text-muted" style="position: absolute;top: 40%;left: 30%;font-size: 45px;font-weight: bold;">Coming Soon</h1>
                  </div>
                </a>
                <a href="#" class="item-media item-media-4by3 margin box-shadow-z3" :style="{ 'background-image': 'url(' + images.Mx + ')', 'background-position-x': '-75px' }">
                  <div class="blockUI blockOverlay" style="color:white;z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.8; cursor: default; position: absolute;">
                    <h1 class="text-md m-t block text-muted" style="position: absolute;top: 40%;left: 30%;font-size: 45px;font-weight: bold;">Coming Soon</h1>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="item-media item-media-4by3 margin"></div>
              <a href="#" class="item-media item-media-4by3 margin box-shadow-z3" :style="{ 'background-image': 'url(' + images.Lc + ')', 'background-size': 'cover', 'background-position-x':'-280px' }">
                <div class="blockUI blockOverlay" style="color:white;z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.8; cursor: default; position: absolute;">
                  <h1 class="text-md m-t block text-muted" style="position: absolute;top: 40%;left: 30%;font-size: 45px;font-weight: bold;">Coming Soon</h1>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import _ from 'underscore'
import Chart from 'chart.js'
import toastr from 'toastr'
import Slick from 'vue-slick'
require('slick-carousel/slick/slick.css')
import StreamPromotedBox from 'components/Promotion/Promoted.vue'

export default {
  name: 'WelcomePage',
  components: { StreamPromotedBox, Slick },
  computed: {
    User() {
      return this.$store.state.User.info
    },
    Echo() {
      return this.$store.state.Echo.service
    }
  },
  data() {
    return {
      stream: null,
      EchoSubscribed: false,
      images: {
        Ytb: require('assets/images/services/ytg.jpg'),
        Tw: require('assets/images/services/tw.jpg'),
        Mx: require('assets/images/services/mx.jpg'),
        Gg: require('assets/images/services/gg.jpg'),
        Lc: require('assets/images/services/lc.jpg')
      },
      slickOptions: {
        infinite: true,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: false,
        slide: 'div',
        //adaptiveHeight: true,
        arrows: false
      }
    }
  },
  watch: {
    stream(updated, old) {
      if (!this.EchoSubscribed && updated !== null) {
        this.Echo.channel('stream.' + updated.id).on(
          'presence-public:subsribed',
          members => {
            updated.viewers = members
          }
        )
        this.Echo.channel('stream.' + updated.id).on(
          'presence-public:leaved',
          member => {
            updated.viewers = _.reject(
              updated.viewers,
              viewer => viewer.id == member.id
            )
          }
        )
        this.EchoSubscribed = true
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    Vue.http.get('event/stream').then(
      ({ data }) => {
        next(vm => {
          vm.stream = data.message.stream
        })
      },
      error => {
        next()
      }
    )
  },
  methods: {
    firstTwo(all) {
      return _.first(all, 2)
    }
  },
  mounted() {
    new Chart($('#chart'), {
      type: 'line',
      data: {
        labels: [
          'A',
          'B',
          'C',
          'D',
          'E',
          'F',
          'G',
          'H',
          'I',
          'J',
          'K',
          'L',
          'M',
          'N',
          'O',
          'P',
          'Q',
          'R',
          'S',
          'T',
          'U',
          'V',
          'W',
          'X',
          'Y',
          'Z'
        ],
        datasets: [
          {
            label: 'Dataset',
            data: [
              35,
              30,
              28,
              32,
              25,
              22,
              19,
              30,
              35,
              41,
              35,
              40,
              42,
              45,
              43,
              50,
              52,
              55,
              65,
              60,
              62,
              60,
              70,
              77,
              85,
              100
            ],
            fill: true,
            lineTension: 0.3,
            backgroundColor: '#2196f3',
            borderColor: '#41abff',
            borderWidth: 3,
            pointBorderColor: '#2196f3',
            pointBackgroundColor: '#fff',
            pointBorderWidth: 2,
            pointHoverRadius: 4,
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: '#fff',
            pointHoverBorderWidth: 2,
            pointRadius: 0,
            pointHitRadius: 10,
            spanGaps: false,
            barPercentage: 1
          }
        ]
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          xAxes: [
            {
              display: false,
              barPercentage: 0.5
            }
          ],
          yAxes: [
            {
              display: false
            }
          ]
        },
        legend: {
          display: false
        },
        tooltips: {
          enabled: false
        }
      }
    })
  } //End of mounted
}
</script>
<style>
.screenshots {
  min-height: 95.5vh;
  background-size: cover;
}
.s1 {
  background-image: url('~assets/images/screen1.png');
}
.s2 {
  background-image: url('~assets/images/screen2.png');
}

.s3 {
  background-image: url('~assets/images/screen3.png');
}

.s4 {
  background-image: url('~assets/images/screen4.png');
}

/* Dots */
.slick-list {
  height: 95.5vh;
}

.slick-dots {
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'FontAwesome';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 20px;

  content: '\f192';
  text-align: center;

  opacity: 0.25;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
</style>
