<template>
  <div class="col-xs-12 col-lg-4 col-xl-3 col-md-6">
    <div class="box text-center">
      <div class="item dark text-left">
        <div class="row">
          <div class="col-xs-12">
            <router-link v-if='User.exists' :to="{ name: 'view', params: { promotionId: promotion.id }}">
              <img :src="promotion.preview == null ? 'http://placehold.it/350x150' : promotion.preview.large" class="w-full">
            </router-link>
            <img v-else :src="promotion.preview != null ? 'http://placehold.it/350x150' : promotion.preview.large" class="w-full">
          </div>
        </div>
        <div v-if='User.exists' class="item-overlay black-overlay w-full">
          <router-link :to="{ name: 'view', params: { promotionId: promotion.id }}" class="center text-md">
            <i class="fa fa-play"></i>
          </router-link>
        </div>
        <div class="bottom gd-overlay p-a-xs ">
          <router-link v-if='User.exists' :to="{ name: 'view', params: { promotionId: promotion.id }}" class="text-md block p-x-sm">
            <i class="fa fa-bullhorn"></i> {{ promotion.channel.status }}
          </router-link>
          <div class="text-md block p-x-sm" v-else>
            <i class="fa fa-bullhorn"></i> {{ promotion.channel.status }}
          </div>
        </div>
        <div v-show='promotion.bonus !== null' class="top text-right p-x-xs">
          <router-link :to="{ name: 'view', params: { promotionId: promotion.id }}" style="margin-right: -4px!important;border-radius: 0px;" class="text-sm m-r-0 m-t-0 btn" :class='{
                "b-success text-success": listKey == 0,
                "b-warning text-warning": listKey == 1,
                "b-danger text-danger": listKey == 2
                }'>
            <i class="fa ion-plus-round inline text-xs"></i>{{ promotion.bonus}} %
          </router-link>
        </div>
      </div>
      <router-link v-if='User.exists' :to="{ name: 'view', params: { promotionId: promotion.id }}" class="md-btn md-raised md-fab md-mini m-r pos-rlt md-fab-offset pull-right white">
        <i class="fa fa-play"></i>
      </router-link>
      <div class="p-a-md">
        <div class="text-muted text-left m-b-xs">
          <small :class="{'text-success': !promotion.muted, 'text-danger': promotion.muted}">
            <i v-if='promotion.muted' class="fa fa-microphone-slash openMic"><span class="label danger pos-rlt m-r-xs micDesc" style="margin-left:5px;display:none;"><b class="arrow left b-danger pull-in"></b>Can not be muted</span></i>
            <i v-else class="fa fa-microphone openMic"><span class="label success pos-rlt m-r-xs micDesc" style="margin-left:10px;display:none;"><b class="arrow left b-success pull-in"></b>Can be muted</span></i>
          </small>
        </div>
        <p>
          <img :src="promotion.channel.logo" :alt="promotion.owner.display_name" class="img-circle w-56">
        </p>
        <router-link :to="{ name: 'view', params: { promotionId: promotion.id }}" class="text-md block">{{ promotion.owner.display_name }}</router-link>
        <p>
          <small>
            <i class="fa fa-gamepad m-r-xs"></i>{{ promotion.game }}</small>
        </p>
        <p class="h-3x">{{ promotion.channel.bio }}</p>
      </div>
      <div class="box-footer">
        <div class="text-left pull-left" style="width: 50%;margin-top: -15px;">
          <img v-for="viewer in firstTwo(promotion.viewers)" :key="viewer.id" :src="viewer.avatar" :alt="viewer.display_name" class="w-32 rounded" v-if='viewer != null'>
          <router-link :to="{ name: 'view', params: { promotionId: promotion.id }}" v-show='promotion.viewers.length > 2' class="btn btn-sm danger rounded">
            <i class="fa fa-plus"></i> {{ promotion.viewers.length - 2}}
          </router-link>
        </div>
        <div class="text-xs text-right pull-right" style="width: 50%;margin-top: 5px;">
          <i class="fa fa-fw fa-user"></i>
          <strong>{{ promotion.channel.followers | currency('', 0) }}</strong>
          <i class="fa fa-fw fa-eye m-l-sm"></i>
          <strong>{{ promotion.users | currency('', 0) }}</strong>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Promotion',
  props: ['promotion', 'listKey'],
  computed: {
    User() {
      return this.$store.state.User.info
    }
  },
  methods: {
    firstTwo(all) {
      let res = _.first(all, 2)
      if (typeof res !== 'array') {
        return [res]
      }
      return res;
    }
  }
}
</script>

<style scoped>
.openMic:hover {
  cursor: pointer;
}
.openMic:hover .micDesc {
  display:initial !important;
}
</style>
