<template>
  <div v-if='stream' class="col-xs-6 col-sm-12 col-md-6">
    <div class="box">
      <div class="item">
        <div class="item-bg h5">
          <iframe :src="StreamIframeUrl" frameborder="0" allowfullscreen="true" scrolling="no" height="356" width="100%"></iframe>
        </div>
        <div class="p-a p-y-lg pos-rlt" style="height: 370px;">
          <img :src="stream.channel.logo" class="img-circle w-56" style="margin-bottom: -38rem;z-index: -1">
        </div>
      </div>
      <router-link v-if='User.exists' :to="{ name: 'view', params: { stream_id: stream.id }}" class="md-btn md-raised md-fab md-mini m-r pos-rlt md-fab-offset pull-right white">
        <i class="fa fa-play"></i>
      </router-link>
      <div class="p-a">
        <div class="row-col">
          <div class="col-sm-3">
            <a href="#" class="text-md m-t block">{{ stream.owner.display_name }}</a>
            <p>
              <small><i class="fa fa-gamepad m-r-xs"></i>{{ stream.game }}</small>
            </p>
            <p>
              <small><i class="fa fa-bullhorn"></i> {{ stream.channel.status }}</small>
            </p>
          </div>
          <div class="col-sm-3 text-center">
            <p class="h-3x"><small>{{ stream.owner.channel.bio }}</small></p>
          </div>
        </div>

      </div>
      <div class="box-footer">
        <div class="text-left pull-left" style="width: 50%;margin-top: -15px;">
          <img v-for='viewer in firstTwo(stream.viewers)' :src="viewer.avatar" :alt="viewer.display_name" :key='viewer.id' class="w-32 rounded">
          <router-link :to="{ name: 'view', params: { stream_id: stream.id }}" v-show='stream.viewers.length > 2' class="btn btn-sm danger rounded">
            <i class="fa fa-plus"></i> {{ stream.viewers.length - 2}}
          </router-link>
        </div>
        <div class="text-xs text-right pull-right" style="width: 50%;margin-top: 5px;">
          <i class="fa fa-fw fa-user"></i>
          <strong>{{ stream.channel.followers | currency('', 0) }}</strong>
          <i class="fa fa-fw fa-eye m-l-sm"></i>
          <strong>{{ stream.users | currency('', 0) }}</strong>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'underscore'
export default {
  name: 'PromotedBox',
  props: ['stream'],
  computed:{
    User(){
      return this.$store.state.User.info
    },
    StreamIframeUrl(){
      return (this.stream !== null) ? 'https://player.twitch.tv/?channel=' + this.stream.owner.channel.username + '&muted=false' : '';
    }
  },
  methods:{
    firstTwo(all) {
      return _.first(all, 2)
    }
  }
}
</script>
