<template>
  <div class="box">
    <div class="box-header light lt"><h3 class="modal-title">{{ $t('Modals.Events.New.Title')}}</h3></div>
    <div class="box-body dark text-center p-lg">
      <!-- <p>Выберите игру которую вы примерно собираетесь транслировать и количество часов трансляции. Зрители будут знать какую игру им ожидать на вашей трансляции.</p> -->
      <p>{{ $t('Modals.Events.New.Description')}}</p>
      {{ $t('Modals.Events.New.Cost')}}
      <b class="text-danger"> 2500 <i class="fa fa-bolt"></i>.</b>
      <form id='AddEventForm' role="form" @submit.prevent>
        <div class="form-group row">
          <label for="SelectGame" class="col-sm-2 form-control-label">{{ $t('Modals.Events.New.Game')}}</label>
          <div class="col-sm-10">
            <v-select class='white'  name='game' id='SelectGame' v-model="selected" :options="Games"></v-select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn dark-white p-x-md" @click='$parent.hide("Events.Add")' data-dismiss="modal">{{ $t('Modals.Cancel')}}</button>
      <button type="button" :disabled='loading' class="btn success p-x-md" @click='Reserve()' data-dismiss="modal">{{ $t('Modals.Events.New.Submit')}}</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import _ from 'underscore'
import vSelect from 'vue-select'
Vue.component('v-select', vSelect)
import toastr from 'toastr'
const timezoneOffset = require("timezone-offset")

export default {
  props: ['data'],
  computed: {
    Games(){
      let result = [
        {
          label: this.$i18n.t('Modals.Events.New.Label'),
          value: 'none'
        }
      ]
      _.each(this.data.games, (game, key) => {
        result.push({
          label: game.original,
          value: key
        })
      })
      return result
    }
  },
  data(){
    return {
      selected:   {
        label: this.$i18n.t('Modals.Events.New.Label'),
        value: 'none'
      },
      loading: false
    }
  },
  methods: {
    Reserve(){
      this.loading = true
      Vue.http.post('event/add', {
        game: this.selected.value,
        start: this.data.event.start,
        timezoneOffset: timezoneOffset()
      }).then(({data}) => {
        toastr.success(this.$i18n.t('Alerts.Success.Events_AddedToList'),  this.$i18n.t('Alerts.Headers.Success.3'))
        this.$store.dispatch("User/UpdateBalance", data.message.user.balance)
        this.$root.$events.$emit('Events/Updated')
        this.$parent.hide('EventAdd')
      }, ({data}) => {
        switch (data.message) {
          case "stream:not_online":
          toastr.error(this.$i18n.t('Alerts.Stream.NotOnline'), this.$i18n.t('Alerts.Headers.Error.0'))
          break;
          case "user:low_balance":
          toastr.error(this.$i18n.t('Alerts.User.LowBalance'),  this.$i18n.t('Alerts.Headers.Error.2'))
          break;
          case "stream:in_promoted_list":
          toastr.error(this.$i18n.t('Alerts.Stream.InPromotedList'),  this.$i18n.t('Alerts.Headers.Error.0'))
          break;
          case "channel:does_not_exists":
          toastr.error(this.$i18n.t('Alerts.Channel.DoesNotExists'),  this.$i18n.t('Alerts.Headers.Error.3'))
          break;
        }
        this.loading = false
      })
    }
  }
}
</script>

<style>
form {
  margin-top: 10px;
}
</style>
