<template>
  <div class="box">
    <div class="box-header light lt"><h3 class="modal-title"> {{ $t('Modals.Events.Remove.Title')}}</h3></div>
    <div class="box-body text-center p-lg"><p>{{ $t('Modals.Events.Remove.Description')}}</p>
      {{ $t('Modals.Events.Remove.Cost')}}
      <b class="text-success"> 1750 <i class="fa fa-bolt"></i>.</b>
      <div v-if='loading'>
        <div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: absolute;"></div>
        <div class="blockUI blockMsg blockElement" style="z-index: 1011; position: absolute; padding: 30px; margin: 0px; width: 100%; top: 60px; left: 0px; text-align: center; color: rgb(255, 255, 255); border: none; background-color: transparent; cursor: default; opacity: 0.616723;"><i class="fa fa-lg fa-refresh fa-spin"></i></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn dark-white p-x-md" @click='$parent.hide("Events.Remove")' data-dismiss="modal">{{ $t('Modals.Cancel')}}</button>
      <button type="button" :disabled='loading' class="btn success p-x-md" @click='UnReserve()' data-dismiss="modal">{{ $t('Modals.Events.Remove.Submit')}}</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import toastr from 'toastr'

export default {
  props: ['data'],
  data(){
    return {
      loading: false
    }
  },
  methods: {
    UnReserve(){
      this.loading = true
      Vue.http.delete('event/remove?event_id=' + this.data.event.id).then(({data}) => {
        toastr.success(this.$i18n.t('Alerts.Success.Events_RemovedFromList'),  this.$i18n.t('Alerts.Headers.Success.2'))
        this.$store.dispatch("User/UpdateBalance", data.message.user.balance)
        this.$root.$events.$emit('Events/Updated')
        this.$parent.hide('EventRemove')
      }, ({data}) => {
        switch (data.message) {

        }
        this.loading = false
      })
    }
  },
  mounted(){

  }
}
</script>
